<table class="ui small compact celled table">
  <tbody>

    <tr>
      <td>
        {{flexberry-checkbox
          label=(t "layers-styles.gradient-tools.fill-gradient")
          value=fillGradientEnable
        }}
      </td>
      <td class="ui horizontal list">
        {{#if fillGradientEnable}}
          <div class="item">
            {{gradients/dropdown-gradient
              gradientColorStart=fillGradientColorStart
              gradientColorEnd=fillGradientColorEnd
              previewCanvasName=fillGradientPreview
              gradientChange=(action "hideFillGradientEdit")
            }}
          </div>
          <div class="item">
            <canvas class="{{fillGradientPreview}}" width="100" height="50" {{action 'fillGradientEditSwitch'}}>
            </canvas>
          </div>
          <div class="item">
            {{#if _showFillGradientEdit}}
              {{gradients/gradient-edit
                gradientColorStart=fillGradientColorStart
                gradientColorEnd=fillGradientColorEnd
                previewCanvasName=fillGradientPreview
              }}
            {{/if}}
          </div>
        {{/if}}
      </td>
    </tr>

    <tr>
      <td>
        {{flexberry-checkbox
          label=(t "layers-styles.gradient-tools.stroke-gradient")
          value=strokeGradientEnable
        }}
      </td>
      <td class="ui horizontal list">
        {{#if strokeGradientEnable}}
          <div class="item">
            {{gradients/dropdown-gradient
              gradientColorStart=strokeGradientColorStart
              gradientColorEnd=strokeGradientColorEnd
              previewCanvasName=strokeGradientPreview
              gradientChange=(action "hideStrokeGradientEdit")
            }}
          </div>
          <div class="item">
            <canvas class="{{strokeGradientPreview}}" width="100" height="50" {{action 'strokeGradientEditSwitch'}}>
            </canvas>
          </div>
          <div class="item">
            {{#if _showStrokeGradientEdit}}
              {{gradients/gradient-edit
                gradientColorStart=strokeGradientColorStart
                gradientColorEnd=strokeGradientColorEnd
                previewCanvasName=strokeGradientPreview
              }}
              {{/if}}
            </div>
          {{/if}}
        </td>
      </tr>

  </tbody>
</table>
