<div class="ui centered grid">
  <div class="six wide column">
    <div class="ui grid">
      <div class="left aligned column">
        {{flexberry-button
          caption=(t "components.charts.index-chart.create-button")
          click=(action "onGenerateChart")
        }}
      </div>
    </div>
    <div class="field">
      <label>
        {{t "components.charts.index-chart.typr-charts.caption"}}
      </label>
      {{#ui-dropdown class="compact selection" onChange=(action "onModeTypeChange")}}
        <i class="dropdown icon"></i>
        <div class="text">
          {{selectedModeType}}
        </div>
        <div class="menu">
          {{#each-in _availableTypes as |key value|}}
            <div class="item" data-value="{{key}}">{{value}}</div>
          {{/each-in}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="field">
      <label>
        {{t "components.charts.index-chart.caption-charts"}}
      </label>
      {{flexberry-textbox
        value=_captionChart
      }}
    </div>
    <div class="ui grid">
      <div class="column">
        {{#if _selectedModeType}}
          {{component (concat "charts/type-charts/" _selectedModeType)
            _isObject=_isObjProperties
            _titleChart=_captionChart
            _chartType=_selectedModeType
            onInit=(action "initJsonCharts")
          }}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="nine wide column">
    <div class="containerCR">
    </div>
  </div>
</div>
