{{#flexberry-dialog class=(concat class " " flexberryClassNames.prefix)
  caption=caption
  approveButtonCaption=approveButtonCaption
  denyButtonCaption=denyButtonCaption
  visible=visible
  approve=(action "onApprove")
  deny=(action "onDeny")
  show=(action "onShow")
  hide=(action "onHide")
}}
<form class="ui form" role="form">
  <div class="field">
    <label>
      {{nameTextboxCaption}}
    </label>
    {{flexberry-textbox
      class="fluid"
      value=name
      readonly=true
    }}
  </div>
  <div class="field">
    <label>
      {{descriptionTextboxCaption}}
    </label>
    {{flexberry-textarea
      class="fluid"
      value=description
      readonly=true
    }}
  </div>
  <div class="field">
    <label>
      {{showOnOpenTextboxCaption}}
    </label>
    {{flexberry-checkbox
      class="fluid"
      value=showOnOpen
    }}
  </div>
</form>
{{/flexberry-dialog}}
