<div class="draw-tools {{settings.typeGeometry}}">
  {{#if (eq settings.typeGeometry "polygon") }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-rectangle.caption")
      click=(action "onGeometryTypeSelect" "rectangle")
      iconClass="flexberry-map-tool-icon icon-guideline-rectangle"
      class=(if (eq geometryType "rectangle") "active")
      readonly=edit
    }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-polygon.caption")
      click=(action "onGeometryTypeSelect" "polygon")
      iconClass="flexberry-map-tool-icon icon-guideline-polygone"
      class=(if (eq geometryType "polygon") "active")
      readonly=edit
    }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-multi-polygon.caption")
      click=(action "onGeometryTypeSelect" "multyPolygon")
      iconClass="flexberry-map-tool-icon icon-guideline-scissors"
      class=(if (eq geometryType "multyPolygon") "active")
      readonly=(not edit)
    }}
  {{/if}}
  {{#if (eq settings.typeGeometry "polyline") }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-polyline.caption")
      click=(action "onGeometryTypeSelect" "polyline")
      iconClass="flexberry-map-tool-icon icon-guideline-line"
      class=(if (eq geometryType "polyline") "active")
      readonly=edit
    }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-multi-line.caption")
      click=(action "onGeometryTypeSelect" "multyLine")
      iconClass="flexberry-map-tool-icon icon-guideline-line-plus"
      class=(if (eq geometryType "multyLine") "active")
      readonly=(not edit)
    }}
  {{/if}}

  {{#if (or (eq settings.typeGeometry "polygon") (eq settings.typeGeometry "polyline")) }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.move.caption")
      click=(action "onMoveSelect" "move")
      iconClass="flexberry-map-tool-icon icon-guideline-cross-arrow"
      class=(if (eq geometryType "move") "active")
      readonly=(not edit)
    }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.movexy.caption")
      click=(action "onMoveSelect" "movexy")
      iconClass="flexberry-map-tool-icon movexy icon-guideline-cross-arrow"
      class=(if (eq geometryType "movexy") "active")
      readonly=(not edit)
    }}
  {{/if}}

  {{#if (eq settings.typeGeometry "marker") }}
    {{flexberry-button
      tooltip=(t "components.geometry-add-modes.draw.draw-marker.caption")
      click=(action "onGeometryTypeSelect" "marker")
      iconClass="flexberry-map-tool-icon icon-guideline-marker"
    }}
  {{/if}}
</div>

{{#if (or (eq settings.typeGeometry "polygon") (eq settings.typeGeometry "polyline")) }}
  {{#if (eq geometryType "movexy")}}
    {{#if _moveWithError}}
      {{ui-message
        type="error"
        message=(t "components.geometry-add-modes.draw.movexy.error")
      }}
    {{/if}}

    <div class="offset ui form">
      <div class="offset-inner">
        <div class="field {{if _offsetInvalid.x "error" ""}}">
          <label>
            {{t "components.geometry-add-modes.draw.movexy.x"}}
          </label>
          {{input
            type="text"
            value=_offset.x
            key-up=(action 'validOffset' 'x')
          }}
        </div>
      </div>
      <div class="offset-inner">
        <div class="field {{if _offsetInvalid.y "error" ""}}">
          <label>
            {{t "components.geometry-add-modes.draw.movexy.y"}}
          </label>
          {{input
            type="text"
            value=_offset.y
            key-up=(action 'validOffset' 'y')
          }}
        </div>
      </div>
    </div>
    <div class="offset-button flex-buttons">
      <button type="submit" class="ui button positive" {{action "applyXY"}}>
        {{t "components.geometry-add-modes.draw.movexy.apply"}}
      </button>
    </div>
  {{/if}}
{{/if}}

