<div class="ui form {{concat flexberryClassNames.form (if _loading " loading" "")}}" role="form">
  <div class="field {{if (get _parsingErrors "address") "error" ""}}">
    <label>{{addressLabel}}</label>
    {{flexberry-textbox
      value=address
    }}
  </div>
  <div class="field {{if (get _parsingErrors "provider") "error" ""}}">
    <label>{{providerLabel}}</label>
    <div class="fields">
      <div class="fourteen wide field">
        {{flexberry-dropdown
          items=_availableProviderNames
          value=provider
        }}
      </div>
      <div class="two wide field">
        {{flexberry-button
          click=(action "onSearchClick")
          iconClass="search icon"
          class="geoprovider-search"
          readonly=(not (get this 'provider'))
        }}
      </div>
    </div>
  </div>
  <div class="field {{if (get _parsingErrors "results") "error" ""}}">
    <label>{{resultsLabel}}</label>
    {{#flexberry-table
      perPageAvailable=false
      header=(hash
        name=resultsHeaderName
        position=resultsHeaderPosition
      )
      model=_queryResults
      recordsTotalCount=_queryResultsTotalCount
      getData=(action "onResultsTableGetData")
    }}
    {{#block-slot "column-header-head-0"}}
      <th class="narrow">{{resultsHeaderSelect}}</th>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
      <td class="narrow">
      {{flexberry-checkbox
        value=(eq _selectedRow (ember-guid row))
        onChange=(action "onRowSelect" (ember-guid row)) }}
      </td>
    {{/block-slot}}
    {{/flexberry-table}}
  </div>

  <div class="row flex-buttons">
    <button type="submit" class="ui button positive" {{action "apply"}}>
      {{t "components.geometry-add-modes.geoprovider.apply"}}
    </button>
  </div>
</div>