<div>
  <div class="row">
    <div class="field">
      {{flexberry-edit-crs
          crsCaption=crsFieldLabel
          coordinateReferenceSystem=_crs
        }}
    </div>
  </div>

  <div class="row">
    <div class="manual-textarea field {{if _coordinatesWithError "error" ""}}">
      <label>{{coordinatesFieldLabel}}</label>
      {{flexberry-textarea
        value=_coordinates
        placeholder=coordinatesFieldPlaceholder
      }}
      {{flexberry-button
        iconClass="caret down icon"
        click=(action "apply")
        tooltip=(t "components.geometry-add-modes.manual.apply")
      }}
    </div>
  </div>

  {{#if (or coordinatesInLineError coordinatesParseError coordinatesTypeGeometryError)}}
  <div class="ember-view ui message red">
    <ul class="list">
      {{#if coordinatesInLineError}}
      <li>{{coordinatesInLineErrorLabel}}</li>
      {{/if}}
      {{#if coordinatesParseError}}
      <li>{{coordinatesParseErrorLabel}}</li>
      {{/if}}
      {{#if coordinatesTypeGeometryError}}
      <li>{{coordinatesTypeGeometryErrorLabel}}</li>
      {{/if}}
    </ul>
  </div>
  {{/if}}
</div>