{{#if isError}}
{{ui-message
          type="error"
          message=message
        }}
{{/if}}
<div class="row">
  <div class="field">
    {{flexberry-edit-crs
            crsCaption=coordinatesSystemFieldLabel
            coordinateReferenceSystem=_crs
          }}
  </div>
</div>

<div class="row">
  <div class="field {{if _formValid.startPointValid "error" ""}}">
    <label>
      {{startPointFieldLabel}}
    </label>
    {{input
            type="text"
            value=_dataForm.startPoint
            placeholder=coordinatesFieldPlaceholder
            class = "first"
            key-up=(action 'validCoord')
          }}
  </div>
</div>

<div class="field">
  <div class="{{flexberryClassNames.tableBlock}}">
    {{#flexberry-table perPageAvailable=true model=_tableData}}
    {{#block-slot "column-header-head-0"}}
    <th>
    </th>
    {{/block-slot}}
    {{#block-slot "column-header-head-0"}}
    <th>
      {{directionTh}}
    </th>
    {{/block-slot}}
    {{#block-slot "column-header-head-0"}}
    <th>
      {{rhumbTh}}
    </th>
    {{/block-slot}}
    {{#block-slot "column-header-head-0"}}
    <th>
      {{distanceTh}}
    </th>
    {{/block-slot}}
    {{#block-slot "column-header-head-0"}}
    <th>
      {{rhumbObjectStart}}
    </th>
    {{/block-slot}}
    {{#block-slot "column-header-head-0"}}
    <th class="narrow rhumb">
    </th>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td>
      {{row.number}}
    </td>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td>
      <div class="field {{if row.directionValid "error"}}">
        {{flexberry-dropdown
                      items=_availableDirection
                      value=row.direction
                      placeholder=null
                    }}
      </div>
    </td>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td>
      <div class="field {{if row.rhumbValid "error"}}">
        {{input type="text" value=row.rhumb key-up=(action "onInputLimit")}}
      </div>
    </td>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td>
      <div class="field {{if row.distanceValid "error"}}">
        {{input type="text" value=row.distance key-up=(action "onInputLimit")}}
      </div>
    </td>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td class="checkbox-rhumb">
      {{flexberry-checkbox
                    value=row.skip
                    readonly=row.skip
                    onChange=(action "onRhumbSkipChange" row)
                  }}
    </td>
    {{/block-slot}}
    {{#block-slot "column-cell-head-0" as |row|}}
    <td class="narrow rhumb">
      <i class="plus icon" {{action "OnAddRow" row.id}}></i>
      {{#if (gt _tableData.length 1)}}
        <i class="trash icon" {{action "OnRemoveRow" row.id}}></i>
      {{/if}}
    </td>
    {{/block-slot}}
    {{/flexberry-table}}
  </div>
</div>

{{flexberry-button
  caption=(t "components.geometry-add-modes.draw.movexy.apply")
  click=(action "apply")
}}