{{flexberry-button
  tooltip=menuButtonTooltip
  click=(action "onButtonClick" tabModel)
  iconClass="flexberry-map-command-icon location map-pin icon"
}}
{{!
  Semantic UI modal dialogs takes long time to be initialized
  so include each dialog in the markup only if dialog has been requested by user (similar "lazy load").
}}
{{#if _dialogHasBeenRequested}}
  {{#flexberry-dialog
    class=flexberryClassNames.dialog
    caption=menuButtonTooltip
    approveButtonCaption=dialogApproveButtonCaption
    denyButtonCaption=dialogDenyButtonCaption
    visible=_dialogVisible
    approve=(action "onApprove")
    deny=(action "onDeny")
  }}
    <form class="ui form {{flexberryClassNames.form}}" role="form">
      <div class="field {{if _coordinatesWithError "error" ""}}">
        <label>
          {{coordinatesFieldLabel}}
        </label>
        {{flexberry-field
          value=_startPoint
          placeholder=coordinatesFieldPlaceholder
        }}
      </div>
      <div class="field">
        <label>
          Тип объекта
        </label>
        {{flexberry-dropdown items=_objectTypes value=_objectType }}
      </div>
      {{!-- <div class="field">
        <label>
          {{geometryFieldLabel}}
        </label>
        {{flexberry-dropdown items=_cardinalPoints}}
      </div> --}}
      <table class="ui celled table flexberry-table">
        <tr>
          <th class="narrow">
            Направление
          </th>
          <th>
            Румб
          </th>
          <th>
            Дистанция
          </th>
          <th></th>
        </tr>
        <tr>
          <td class="narrow">
            {{flexberry-dropdown items=_cardinalPoints value=_direction}}
          </td>
          <td class="narrow">
            {{flexberry-field value=_rhumb}}
          </td>
          <td class="narrow">
            {{flexberry-field value=_distance}}
          </td>
          <td class="narrow">
            {{flexberry-button caption="Добавить" click=(action "onAddRaw")}}
          </td>
        </tr>
      </table>
      <div class="field">
        {{#flexberry-table perPageAvailable=false model=_queryResults}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow"></th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              Направление
            </th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              Румб
            </th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              Дистанция
            </th>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0"}}
            <td class="narrow">
              !!
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.direction}}
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.rhumb}}
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.distance}}
            </td>
          {{/block-slot}}
        {{/flexberry-table}}
      </div>
      {{!-- <div class="field disabled">
      {{flexberry-edit-crs
        crsCaption=crsFieldLabel
        coordinateReferenceSystem=settings.layerCRS
      }}
    </div>
    <div class="field disabled">
      <label>{{geometryFieldLabel}}</label>
      {{flexberry-dropdown
        items=settings.drawTools
        value="polygon"
      }}
    </div>
    <div class="field {{if _coordinatesWithError "error" ""}}">
      <label>{{coordinatesFieldLabel}}</label>
      {{flexberry-textarea
        value=_coordinates
        placeholder=coordinatesFieldPlaceholder
      }}
    </div> --}}
    </form>
  {{/flexberry-dialog}}
{{/if}}