{{#if isError}}
{{ui-message
          type="error"
          message=message
        }}
{{/if}}
<div class="ui form">
  <div class="rhumb-first">
    <div class="row">
      <div class="field">
        {{flexberry-edit-crs
                crsCaption=coordinatesSystemFieldLabel
                coordinateReferenceSystem=_crs
              }}
      </div>
    </div>

    <div class="row">
      <div class="field {{if _formValid.startPointValid "error" ""}}">
        <label>
          {{startPointFieldLabel}}
        </label>
        {{input
                type="text"
                value=_dataForm.startPoint
                placeholder=""
                class = "first"
                key-up=(action 'validCoord')
              }}
      </div>
    </div>
  </div>
  <div class="field">
    <div class="{{flexberryClassNames.tableBlock}}">
      {{#flexberry-table perPageAvailable=true model=_tableData}}
      {{#block-slot "column-header-head-0"}}
      <th colspan="2">
          {{directionTh}}
      </th>
      {{/block-slot}}
      {{#block-slot "column-header-head-0"}}

      {{/block-slot}}
      {{#block-slot "column-header-head-0"}}
      <th>
        {{rhumbTh}}
      </th>
      {{/block-slot}}
      {{#block-slot "column-header-head-0"}}
      <th>
        {{distanceTh}}
      </th>
      {{/block-slot}}
      {{#block-slot "column-header-head-0"}}
      <th  colspan="2" class="small narrow-rhumb">
        {{rhumbObjectStart}}
      </th>
      {{/block-slot}}
      {{#block-slot "column-header-head-0"}}

      {{/block-slot}}
      {{#block-slot "column-cell-head-0" as |row|}}
      <td class="small rhumb-number">
        {{row.number}}
      </td>
      {{/block-slot}}
      {{#block-slot "column-cell-head-0" as |row|}}
      <td>
        <div class="field {{if row.directionValid "error"}}">
          {{flexberry-dropdown
                        items=_availableDirection
                        value=row.direction
                        placeholder=null
                      }}
        </div>
      </td>
      {{/block-slot}}
      {{#block-slot "column-cell-head-0" as |row|}}
      <td>
        <div class="field {{if row.rhumbValid "error"}}">
          {{input type="text" value=row.rhumb key-up=(action "onInputLimit")}}
        </div>
      </td>
      {{/block-slot}}
      {{#block-slot "column-cell-head-0" as |row|}}
      <td>
        <div class="field {{if row.distanceValid "error"}}">
          {{input type="text" value=row.distance key-up=(action "onInputLimit")}}
        </div>
      </td>
      {{/block-slot}}
      {{#block-slot "column-cell-head-0" as |row|}}
      <td colspan="2" class="checkbox-rhumb small">
        {{flexberry-checkbox
                      value=row.skip
                      readonly=row.skip
                      onChange=(action "onRhumbSkipChange" row)
                    }}
        <i class="icon-guideline-plus-r" {{action "OnAddRow" row.id}}></i>
        {{#if (gt _tableData.length 1)}}
          <i class="icon-guideline-delete-r" {{action "OnRemoveRow" row.id}}></i>
        {{/if}}
      </td>
      {{/block-slot}}

      {{/flexberry-table}}
    </div>
  </div>
</div>

<div class="flex-buttons">
  <button type="submit" class="ui button positive" {{action "apply"}}>
    {{t "components.geometry-add-modes.draw.movexy.apply"}}
  </button>
</div>
