{{flexberry-button
  tooltip=menuButtonTooltip
  click=(action "onOpenDialog" tabModel)
  iconClass="flexberry-map-command-icon location map-pin icon"
}}
{{!
  Semantic UI modal dialogs takes long time to be initialized
  so include each dialog in the markup only if dialog has been requested by user (similar "lazy load").
}}
{{#if _dialogHasBeenRequested}}
  {{#flexberry-dialog
    class=flexberryClassNames.dialog
    caption=menuButtonTooltip
    approveButtonCaption=dialogApproveButtonCaption
    denyButtonCaption=dialogDenyButtonCaption
    visible=_dialogVisible
    approve=(action "onApprove")
    deny=(action "onDeny")
  }}
    <form class="ui form {{flexberryClassNames.form}}" role="form">
      <div class="field {{if _startPointValideError "error" ""}}">
        <label>
          {{startPointFieldLabel}}
        </label>
        {{flexberry-field
          value=_startPoint
          placeholder=coordinatesFieldPlaceholder
        }}
      </div>
      <div class="field {{if _typeObjectValideError "error" ""}}">
        <label>
          {{typeObjectFieldLabel}}
        </label>
        {{flexberry-dropdown items=_objectTypes value=_objectType}}
      </div>
      <table class="ui celled table flexberry-table">
        <thead>
          <tr>
            <th class="narrow">
              {{directionTh}}
            </th>
            <th class="narrow">
              {{rhumbTh}}
            </th>
            <th class="narrow">
              {{distanceTh}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="narrow">
              <div class="field {{if _addDirectionValide "error"}}">
                {{flexberry-dropdown items=_cardinalPoints value=_direction}}
              </div>
            </td>
            <td class="narrow">
              <div class="field {{if _addRhumbValide "error"}}">
                {{flexberry-field value=_rhumb}}
              </div>
            </td>
            <td class="narrow">
              <div class="field {{if _addDistanceValide "error"}}">
                {{flexberry-field value=_distance}}
              </div>
            </td>
            <td class="narrow">
              {{flexberry-button
                caption=addButtonCaption
                click=(action "onAddRaw")
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="field">
        {{#flexberry-table perPageAvailable=false model=_queryResults}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              {{directionTh}}
            </th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              {{rhumbTh}}
            </th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow">
              {{distanceTh}}
            </th>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th class="narrow"></th>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.direction}}
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.rhumb}}
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{row.distance}}
            </td>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="narrow">
              {{flexberry-button caption="X" click=(action "OnRemoveRow" row.id)
              }}
            </td>
          {{/block-slot}}
        {{/flexberry-table}}
      </div>
    </form>
  {{/flexberry-dialog}}
{{/if}}