{{#flexberry-dialog class=(concat class " " flexberryClassNames.prefix)
  caption=caption
  visible=visible
  approve=(action "onApprove")
  deny=(action "onDeny")
  show=(action "onShow")
  hide=(action "onHide")
}}
<form class="ui form" role="form">
  <div class="field">
    <label>
      {{t "components.layers-dialogs.edit-layer.layer-type.caption"}}
    </label>
    {{flexberry-dropdown
      class="fluid"
      items=_availableTypes
      value=type
      readonly=typeIsReadonly
    }}
  </div>
  <div class="field">
    <label>
      {{t "components.layers-dialogs.edit-layer.layer-name.caption"}}
    </label>
    {{flexberry-textbox
      class="fluid"
      value=name
    }}
  </div>
  <div class="field">
    <label>
      {{t "components.layers-dialogs.edit-layer.layer-crs.caption"}}
    </label>
    {{flexberry-textarea
      class="fluid"
      value=coordinateReferenceSystem
    }}
  </div>
  {{#if _typeIsValid}}
    {{component (concat "layers-dialogs/edit-" type "-layer-content") settings=(get _settings type)}}
  {{/if}}
</form>
{{/flexberry-dialog}}