{{#flexberry-dialog class=(concat class " " flexberryClassNames.prefix)
  caption=caption
  approveButtonCaption=approveButtonCaption
  denyButtonCaption=denyButtonCaption
  visible=visible
  approve=(action "onApprove")
  deny=(action "onDeny")
  beforeShow=(action "onBeforeShow")
  beforeHide=(action "onBeforeHide")
  show=(action "onShow")
  hide=(action "onHide")
}}
<form class="ui form" role="form">
  <div class="field">
    <label>
      {{typeDropdownCaption}}
    </label>
    {{flexberry-dropdown
      class="fluid"
      items=_availableTypes
      value=_layer.type
      readonly=_typeIsReadonly
    }}
  </div>
  <div class="field">
    <label>
      {{nameTextboxCaption}}
    </label>
    {{flexberry-textbox
      class="fluid"
      value=_layer.name
    }}
  </div>

  {{#flexberry-toggler
    class="styled"
    caption=crsCaption
  }}
    <div class="field">
      <label>
        {{crsCaption}}
      </label>
      {{flexberry-dropdown
        class="fluid"
        items=_availableCoordinateReferenceSystemsCodes
        value=_coordinateReferenceSystemCode
      }}
    </div>
    {{#if _showCoordinateReferenceSystemFields}}
      <div class="field">
        <label>
          {{crsCodeTextboxCaption}}
        </label>
        {{flexberry-textbox
          class="fluid"
          value=_layer.coordinateReferenceSystem.code
        }}
      </div>
      <div class="field">
        <label>
          {{crsDefinitionTextareaCaption}}
        </label>
        {{flexberry-textarea
          class="fluid"
          value=_layer.coordinateReferenceSystem.definition
        }}
      </div>
    {{/if}}
  {{/flexberry-toggler}}

  {{#flexberry-toggler
    class="styled"
    caption=settingsSectionCaption
  }}
    {{#if _typeIsValid}}
      {{component (concat "layers-dialogs/settings/" _layer.type) settings=_layer.settings}}
    {{/if}}
  {{/flexberry-toggler}}

  {{#if _identifyIsAvailableForType}}
    {{#flexberry-toggler
      class="styled"
      caption=identifySettingsSectionCaption
    }}
      {{flexberry-jsonarea value=_layer.settings.identifySettings}}
    {{/flexberry-toggler}}
  {{/if}}

  {{#if _searchIsAvailableForType}}
    {{#flexberry-toggler
      class="styled"
      caption=searchSettingsSectionCaption
    }}
      {{flexberry-jsonarea value=_layer.settings.searchSettings}}
    {{/flexberry-toggler}}
  {{/if}}
</form>
{{/flexberry-dialog}}
