<div class="field">
  <label>
    {{t "components.layers-dialogs.edit-wms-layer-content.url.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.edit-wms-layer-content.version.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.version
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.edit-wms-layer-content.layers.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.layers
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.edit-wms-layer-content.format.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.format
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.edit-wms-layer-content.transparent.caption"}}
  </label>
  {{flexberry-checkbox
    value=settings.transparent
  }}
</div>
