{{#flexberry-dialog class=(concat class " " flexberryClassNames.prefix)
  caption=caption
  approveButtonCaption=approveButtonCaption
  denyButtonCaption=denyButtonCaption
  visible=visible
  approve=(action "onApprove")
  deny=(action "onDeny")
  beforeShow=(action "onBeforeShow")
  beforeHide=(action "onBeforeHide")
  show=(action "onShow")
  hide=(action "onHide")
}}
<form class="ui form" role="form">
  <div class="ui top attached tabular menu">
    <a class="active tab item" data-tab="main" {{action "onTabClick" "main" on="click"}}>
      {{t "components.layers-dialogs.edit.tabular-menu.main-tab.caption"}}
    </a>
    {{#if _crsIsAvailableForType}}
      <a class="tab item" data-tab="crs" {{action "onTabClick" "crs" on="click"}}>
        {{t "components.layers-dialogs.edit.tabular-menu.crs-tab.caption"}}
      </a>
    {{/if}}
    {{#if _typeIsValid}}
      <a class="tab item" data-tab="settings" {{action "onTabClick" "settings" on="click"}}>
        {{t "components.layers-dialogs.edit.tabular-menu.settings-tab.caption"}}
      </a>
    {{/if}}
    {{#if _identifyIsAvailableForType}}
      <a class="tab item" data-tab="identifySettings" {{action "onTabClick" "identifySettings" on="click"}}>
        {{t "components.layers-dialogs.edit.tabular-menu.identify-settings-tab.caption"}}
      </a>
    {{/if}}
    {{#if _searchIsAvailableForType}}
      <a class="tab item" data-tab="searchSettings" {{action "onTabClick" "serachSettings" on="click"}}>
        {{t "components.layers-dialogs.edit.tabular-menu.search-settings-tab.caption"}}
      </a>
    {{/if}}
    {{#if _legendIsAvailableForType}}
      <a class="tab item" data-tab="legendSettings" {{action "onTabClick" "legendSettings" on="click"}}>
        {{t "components.layers-dialogs.edit.tabular-menu.legend-settings-tab.caption"}}
      </a>
    {{/if}}
  </div>
  <div class="ui bottom attached active tab segment" data-tab="main">
    {{#if _modesAreAvailable}}
      <div class="field">
        <label>
          {{t "components.layers-dialogs.edit.mode-dropdown.caption"}}
        </label>
        {{flexberry-dropdown
          class="fluid"
          items=_availableModes
          value=_selectedMode
        }}
      </div>
    {{/if}}
    {{#if _cswBasedLayerModeIsSelected}}
      {{flexberry-csw
        connections=cswConnections
        leafletMap=leafletMap
        dropdownMode=true
        recordSelected=(action "onCswRecordSelected")
      }}
    {{/if}}
    <div class="field">
      <label>
        {{typeDropdownCaption}}
      </label>
      {{flexberry-dropdown
        class="fluid"
        items=_availableTypes
        value=_layer.type
        readonly=_typeIsReadonly
      }}
    </div>
    <div class="field">
      <label>
        {{nameTextboxCaption}}
      </label>
      {{flexberry-textbox
        class="fluid"
        value=_layer.name
      }}
    </div>
  </div>
  {{#if _crsIsAvailableForType}}
    <div class="ui bottom attached tab segment" data-tab="crs">
      <div class="field">
        <label>
          {{crsCaption}}
        </label>
        {{flexberry-dropdown
          class="fluid"
          items=_availableCoordinateReferenceSystemsCodes
          value=_coordinateReferenceSystemCode
        }}
      </div>
      {{#if _showCoordinateReferenceSystemFields}}
        <div class="field">
          <label>
            {{crsNameTextboxCaption}}
          </label>
          {{flexberry-textbox
            class="fluid"
            value=_layer.coordinateReferenceSystem.name
          }}
        </div>
        <div class="field">
          <label>
            {{crsCodeTextboxCaption}}
          </label>
          {{flexberry-textbox
            class="fluid"
            value=_layer.coordinateReferenceSystem.code
          }}
        </div>
        <div class="field">
          <label>
            {{crsDefinitionTextareaCaption}}
          </label>
          {{flexberry-textarea
            class="fluid"
            value=_layer.coordinateReferenceSystem.definition
          }}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if _typeIsValid}}
    <div class="ui bottom attached tab segment" data-tab="settings">
      {{component (concat "layers-dialogs/settings/" _layer.type) settings=_layer.settings}}
    </div>
  {{/if}}
  {{#if _identifyIsAvailableForType}}
    <div class="ui bottom attached tab segment" data-tab="identifySettings">
      {{flexberry-jsonarea value=_layer.settings.identifySettings}}
    </div>
  {{/if}}
  {{#if _searchIsAvailableForType}}
    <div class="ui bottom attached tab segment" data-tab="searchSettings">
      {{flexberry-jsonarea value=_layer.settings.searchSettings}}
    </div>
  {{/if}}
  {{#if _legendIsAvailableForType}}
    <div class="ui bottom attached tab segment" data-tab="legendSettings">
      {{flexberry-jsonarea value=_layer.settings.legendSettings}}
    </div>
  {{/if}}
</form>
{{/flexberry-dialog}}
