{{#if (gt _legends.length 0)}}
  {{#each _legends as |legend|}}
    <div class="{{flexberryClassNames.imageWrapper}}">
      <img class="{{flexberryClassNames.image}}" src="{{legend.src}}">
    </div>
  {{/each}}
{{else}}
  <div class="{{flexberryClassNames.imageWrapper}}">
    <i class="{{flexberryClassNames.image}} {{flexberryClassNames.defaultImage}} help icon"></i>
  </div>
{{/if}}
{{#if showLayerName}}
  {{layerName}}
{{/if}}
