<h3 class="ui header">{{t "forms.components-examples.flexberry-tree.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="jsonTree">
        {{t "forms.components-examples.flexberry-tree.settings-example.json-tree-tab-caption"}}
      </a>
      <a class="item" data-tab="hbsTree">
        {{t "forms.components-examples.flexberry-tree.settings-example.hbs-tree-tab-caption"}}
      </a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="jsonTree">
      {{#settings-example
        controllerProperties=this
        componentSettingsMetadata=jsonTreeComponentSettingsMetadata
        componentTemplateText=jsonTreeComponentTemplateText
      }}
        {{flexberry-layerstree
          class=jsonTreeClass
          exclusive=jsonTreeExclusive
          collapsible=jsonTreeCollapsible
          animateChildren=jsonTreeAnimateChildren
          duration=jsonTreeDuration
          layers=(get-with-dynamic-actions this "jsonLayersTreeNodes"
            hierarchyPropertyName="layers"
            dynamicActions=(array
              (hash
                on="checkboxChange"
                actionName="onTreenodeCheckboxChange"
                actionArguments=(array "{% propertyPath %}.checkboxValue")
              )
              (hash
                on="headerClick"
                actionName="onTreenodeHeaderClick"
                actionArguments=(array "{% propertyPath %}")
              )
            )
          )
        }}
      {{/settings-example}}
      <br>
      {{settings-example
        controllerProperties=this
        componentSettingsMetadata=jsonTreeLatestClickedNodeComponentSettingsMetadata
        componentSettingsCaption=(t "forms.components-examples.flexberry-tree.settings-example.json-tree-latest-clicked-node-caption")
        componentSettingsPlaceholder=(t "forms.components-examples.flexberry-tree.settings-example.json-tree-latest-clicked-node-placeholder")
      }}
    </div>
    <div class="ui bottom attached tab segment" data-tab="hbsTree">
      {{#settings-example
        controllerProperties=this
        componentSettingsMetadata=hbsTreeComponentSettingsMetadata
        componentTemplateText=hbsTreeComponentTemplateText
      }}
        {{#flexberry-layerstree
          class=hbsTreeClass
          exclusive=hbsTreeExclusive
          collapsible=hbsTreeCollapsible
          animateChildren=hbsTreeAnimateChildren
          duration=hbsTreeDuration
        }}
          {{#flexberry-layerstreenode
            name=hbsTreeNodes.0.name
            type=hbsTreeNodes.0.type
            visibility=hbsTreeNodes.0.visibility
            settings=hbsTreeNodes.0.settings
            coordinateReferenceSystem=hbsTreeNodes.0.coordinateReferenceSystem
          }}
            {{#flexberry-layerstree}}
              {{#flexberry-layerstreenode
                name=hbsTreeNodes.0.layers.0.name
                type=hbsTreeNodes.0.layers.0.type
                visibility=hbsTreeNodes.0.layers.0.visibility
                settings=hbsTreeNodes.0.layers.0.settings
                coordinateReferenceSystem=hbsTreeNodes.0.layers.0.coordinateReferenceSystem
              }}
                {{#flexberry-layerstree}}
                  {{flexberry-layerstreenode
                    name=hbsTreeNodes.0.layers.0.layers.0.name
                    type=hbsTreeNodes.0.layers.0.layers.0.type
                    visibility=hbsTreeNodes.0.layers.0.layers.0.visibility
                    settings=hbsTreeNodes.0.layers.0.layers.0.settings
                    coordinateReferenceSystem=hbsTreeNodes.0.layers.0.layers.0.coordinateReferenceSystem
                  }}
                {{/flexberry-layerstree}}
              {{/flexberry-layerstreenode}}
              {{flexberry-layerstreenode
                name=hbsTreeNodes.0.layers.1.name
                type=hbsTreeNodes.0.layers.1.type
                visibility=hbsTreeNodes.0.layers.1.visibility
                settings=hbsTreeNodes.0.layers.1.settings
                coordinateReferenceSystem=hbsTreeNodes.0.layers.1.coordinateReferenceSystem
              }}
            {{/flexberry-layerstree}}
          {{/flexberry-layerstreenode}}
        {{/flexberry-layerstree}}
      {{/settings-example}}
      <br>
      {{settings-example
        controllerProperties=this
        componentSettingsMetadata=hbsTreeLatestClickedNodeComponentSettingsMetadata
        componentSettingsCaption=(t "forms.components-examples.flexberry-tree.settings-example.hbs-tree-latest-clicked-node-caption")
        componentSettingsPlaceholder=(t "forms.components-examples.flexberry-tree.settings-example.hbs-tree-latest-clicked-node-placeholder")
      }}
    </div>
  </div>
</form>
