<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.clusterize.caption"}}
  </label>
  {{flexberry-checkbox value=settings.clusterize}}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.geojson-tjarea.caption"}}
  </label>
  {{flexberry-jsonarea value=settings.geojson}}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.style-tjarea.caption"}}
  </label>
  {{flexberry-jsonarea value=settings.style}}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.oneachfeature-tjarea.caption"}}
  </label>
  {{flexberry-jsonarea value=settings.onEachFeature}}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.coordstolatLng-tjarea.caption"}}
  </label>
  {{flexberry-jsonarea value=settings.coordsToLatLng}}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.geojson.pointtolayer-tjarea.caption"}}
  </label>
  {{flexberry-jsonarea value=settings.pointToLayer}}
</div>
