<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.info-format-dropdown.caption"}}
  </label>
  {{flexberry-dropdown
    class="fluid"
    items=_availableInfoFormats
    value=settings.info_format
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.version-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.version
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.layers-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.layers
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.format-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.format
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.wms.transparent-checkbox.caption"}}
  </label>
  {{flexberry-checkbox
    value=settings.transparent
  }}
</div>
