
<div class={{concat "ui very wide bottom bottompanel pushable tabbar" (if folded " folded" "") (if settings.withToolbar " withToolbar" "") (if settings.sidebarOpened " sidebarOpened" "")}} >
  <div class="ui top attached tabular menu bottompanel-tab-nav-panel-tabs">
    <a class= "bottompanel tab item active"
      {{action "hidePanel"}}>
      {{t "components.compare-object-geometries.comparison-objects-caption"}}
    </a>
    <i class="intersection-panel-exit-icon close icon" {{action "closePanel"}}></i>
  </div> 
  <div class="row main-panel">
    <div class="row">
      <fieldset>
        <legend>{{t "components.compare-object-geometries.object-info-caption"}}</legend>
        <div class="row text-line">
          <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomTo" firstObject}}>
            <i class="marker icon"></i>
          </a>
          <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panTo" firstObject}}>
            <i class="hand paper icon"></i>
          </a>
          {{firstObject.displayValue}}
          {{t "components.compare-object-geometries.object-area"}} {{firstObject.area}} {{t "components.compare-object-geometries.m2"}}
        </div>
        <div class="row text-line">
          <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomTo" secondObject}}>
            <i class="marker icon"></i>
          </a>
          <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panTo" secondObject}}>
            <i class="hand paper icon"></i>
          </a>
          {{secondObject.displayValue}}
          {{t "components.compare-object-geometries.object-area"}} {{secondObject.area}} {{t "components.compare-object-geometries.m2"}}
        </div>
        <div class="row text-line">
          {{t "components.compare-object-geometries.distance-between"}} {{distanceBetween}} {{t "components.compare-object-geometries.m"}}
        </div>
      </fieldset>
    </div>   
    <div class="row intersection-row" >
      <fieldset>
        <legend>
          <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomToIntersection" intersection}}>
            <i class="marker icon"></i>
          </a>
          <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panToIntersection" intersection}}>
            <i class="hand paper icon"></i>
          </a>
          {{t "components.compare-object-geometries.intersection"}}
        </legend>
        <div class="row text-line">
          {{t "components.compare-object-geometries.object-area"}} {{intersection.area}} {{t "components.compare-object-geometries.m2"}}
        </div> 
        {{#flexberry-toggler class="layer-result-list-toggler text-line" caption=(t "components.compare-object-geometries.cords")}}
          <div>
            <table class="ui compact celled table">
              <tr>
                <td>
                  {{t "components.compare-object-geometries.x"}}
                </td>
                <td>
                  {{t "components.compare-object-geometries.y"}}
                </td>
              </tr>
              {{#each intersection.intersectionCords as |cords|}}
                <tr>
                  <td>
                    {{cords.[0]}}
                  </td>
                  <td>
                    {{cords.[1]}}
                  </td>
                </tr>
              {{/each}}
            </table>    
          </div>
        {{/flexberry-toggler}}
      </fieldset>
    </div>   
    <div class="row intersection-row">
      <fieldset>
        <legend>
          <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomToIntersection" nonIntersection}}>
            <i class="marker icon"></i>
          </a>
          <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panToIntersection" nonIntersection}}>
            <i class="hand paper icon"></i>
          </a>
          {{t "components.compare-object-geometries.non-intersection"}}
        </legend>
        <div class="row text-line">
          {{t "components.compare-object-geometries.object-area"}} {{nonIntersection.area}}  {{t "components.compare-object-geometries.m2"}}
        </div> 
        {{#flexberry-toggler class="layer-result-list-toggler text-line" caption=(t "components.compare-object-geometries.cords")}}
          <div>
            <table class="ui compact celled table">
              <tr>
                <td>
                  {{t "components.compare-object-geometries.x"}}
                </td>
                <td>
                  {{t "components.compare-object-geometries.y"}}
                </td>
              </tr>
              {{#each nonIntersection.intersectionCords as |cords|}}
                <tr>
                  <td>
                    {{cords.[0]}}
                  </td>
                  <td>
                    {{cords.[1]}}
                  </td>
                </tr>
              {{/each}}
            </table>    
          </div>
        {{/flexberry-toggler}}
      </fieldset>
    </div>   
  </div>
</div>