<button type="submit" class="ui button primary compare{{if compareBtnDisabled " disabled"}}" {{action "compareTwoGeometries"}} disabled={{compareBtnDisabled}}>
  {{t "components.compare-object-geometries.compare-objects-caption"}}
</button>
{{#if _showFavorites}}
  {{layer-result-list
    results=data
    serviceLayer=serviceLayer
    leafletMap=leafletMap
    favoriteMode=true
    allowFavorite=true
    addToFavorite=(action "addToFavorite")
    addToCompareGeometries=(action 'addToCompareGeometries')
    showIntersectionPanel=(action 'showIntersectionPanel')
    availableCRS=availableCRS
  }}
{{else}}
  <div class="ui form loading" style="height: 100%; margin-right: 20px;">
  </div>
{{/if}}

