<div class="feature-result-item-title">
  <div class="feature-result-item-toolbar {{if (gt feature.editForms.length 1) "links" ""}}">
    <a class="icon item" title="{{t "components.feature-result-item.show-info-caption"}}" {{action "showInfo" on="click"}}>
      <i class="caret {{if expanded 'down' 'right'}} icon"></i>
    </a>
    <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomTo" on="click"}}>
      <i class="marker icon"></i>
    </a>
    <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panTo" on="click"}}>
      <i class="hand paper icon"></i>
    </a>
      {{#if (gt feature.editForms.length 0)}}
        {{#if (eq feature.editForms.length 1)}}
          <a class="feature-result-item-object icon item"
            title="{{t "components.feature-result-item.select-object-caption"}}"
            href="{{feature.editForms.[0].url}}" target="_blank">
            <i class="external icon"></i>
          </a>
        {{else}}
          <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
            {{t "components.feature-result-item.select-object-caption"}}
            <i class="dropdown icon"></i>
            <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
                {{#each feature.editForms as |editForm|}}
                  <a class="feature-result-item-object icon item"
                    title="{{editForm.typeName}}"
                    href="{{editForm.url}}" target="_blank">
                    <i class="external icon"></i>
                  </a>
                {{/each}}
            </div>
          </div>
        {{/if}}
      {{/if}}
  </div>
  <div class="feature-result-item-caption" {{action "showInfo" on="click"}}>
    {{get feature displayProperty}}
  </div>
</div>
<div class="feature-result-item-content content {{if expanded "visible" "hidden"}}">
  {{#if expanded}}
    <table class="ui compact celled table">
      <tr>
        <th>{{t "components.feature-result-item.feature-table-property-name"}}</th>
        <th>{{t "components.feature-result-item.feature-table-property-value"}}</th>
      </tr>
      {{#each-in feature.properties as |propertyName propertyValue|}}
        {{#if (not (array-contains _excludedProperties propertyName))}}
          <tr>
            <td>
              {{#if (get _localizedProperties propertyName)}}
                {{get _localizedProperties propertyName}}
              {{else}}
                {{propertyName}}
              {{/if}}
            </td>
            <td>
              {{#if (regex-test propertyValue '^(https?|ftp)://(-\.)?([^\s/?\.#-]+\.?)+(/[^\s]*)?')}}
                <a target="_blank" href="{{propertyValue}}">{{propertyValue}}</a>
              {{else}}
                {{{propertyValue}}}
              {{/if}}
            </td>
          </tr>
        {{/if}}
      {{/each-in}}
    </table>
  {{/if}}
</div>