<div class="item {{if (eq feature selectedFeature) 'active'}}">
  <div class="feature-result-item-title" {{action "showInfo"}}>
    <div class="feature-result-item-toolbar">
      <a class="icon item" title="{{t "components.feature-result-item.show-info-caption"}}">
        <i class="caret {{if _infoExpanded 'down' 'right'}} icon"></i>
      </a>
      <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomTo"}}>
        <i class="marker icon"></i>
      </a>
      <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panTo"}}>
        <i class="hand paper icon"></i>
      </a>
    </div>
    <div class="feature-result-item-caption">
        {{get feature displayProperty}}
    </div>
  </div>
  {{#if _infoExpanded}}
    <table class="ui compact celled table">
      <tr>
        <th>{{t "components.feature-result-item.feature-table-property-name"}}</th>
        <th>{{t "components.feature-result-item.feature-table-property-value"}}</th>
      </tr>
      {{#each-in feature.properties as |propertyName propertyValue|}}
        {{#if (not (array-contains _excludedProperties propertyName))}}
          <tr>
            <td>
              {{#if (get _localizedProperties propertyName)}}
                {{get _localizedProperties propertyName}}
              {{else}}
                {{propertyName}}
              {{/if}}
            </td>
            <td>
              {{#if (regex-test propertyValue '(https?|ftp)://(-\.)?([^\s/?\.#-]+\.?)+(/[^\s]*)?')}}
                <a href="{{propertyValue}}">{{propertyValue}}</a>
              {{else}}
                {{propertyValue}}
              {{/if}}
            </td>
          </tr>
        {{/if}}
      {{/each-in}}
    </table>
  {{/if}}
</div>