<div class="feature-result-item-title">
  {{#if _showLoader}}
    <div class="ui small active loader"></div>
  {{/if}}
  <a class="icon item" title="{{t "components.feature-result-item.show-info-caption"}}" {{action "showInfo" on="click"}}>
    <i class="icon-guideline-navigate-arrow{{if infoExpanded '-down'}}"></i>
  </a>
  {{#if favoriteMode}}
    {{flexberry-ddau-checkbox
      value=feature.compareEnabled
      change=(action 'addToCompareGeometries')
    }}
  {{/if}}
  <div class="feature-result-item-toolbar {{if favoriteMode "favorite"}} {{if (gt feature.editForms.length 1) "links" ""}} hidden">
    {{#if intersection}}
      <a class="icon item" title="{{t "components.feature-result-item.pan-to-caption"}}" {{action "panToIntersection" on="click"}}>
        <i class="icon-guideline-hand"></i>
      </a>
      <a class="icon item" title="{{t 'components.flexberry-layers-intersections-panel.show-on-map'}}" {{action "zoomToIntersection" on="click"}}>
        <i class="icon-guideline-intersection"></i>
      </a>
    {{else}}
      <a class="icon item" title="{{t "components.feature-result-item.zoom-to-caption"}}" {{action "zoomTo" on="click"}}>
        <i class="icon-guideline-marker"></i>
      </a>
      {{#if allowFavorite}}
        <a class="icon item" title="{{t "components.compare-object-geometries.add-to-fav-caption"}}" {{action "addToFavorite" on="click"}}>
          <i class="icon-guideline-bookmark{{if feature.properties.isFavorite "-filled"}} {{if feature.properties.favUpdating "disabled"}}"></i>
        </a>
      {{/if}}
      {{#if (gt feature.editForms.length 0)}}
        {{#if (eq feature.editForms.length 1)}}
          {{#if hasEditForm}}
            <div class="feature-result-item-edit-forms">
              <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
                {{t "components.feature-result-item.select-object-caption"}}
                <i class="dropdown icon"></i>
                <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
                  <a class="feature-result-item-object icon item"
                    title="{{t "components.feature-result-item.select-object-caption"}}"
                    href="{{feature.editForms.[0].url}}" target="_blank">
                    <i class="icon-guideline-goout"></i>
                  </a>
                  <a class="feature-result-item-object icon item"
                    title="{{t "components.feature-result-item.action-object-caption"}}"
                    {{action "goToEditForm" feature.layerModel.id featureId}}>
                    <i class="icon-guideline-goout"></i>
                  </a>
                </div>
              </div>
            </div>
          {{else}}
            <a class="feature-result-item-object icon item"
              title="{{t "components.feature-result-item.select-object-caption"}}"
              href="{{feature.editForms.[0].url}}" target="_blank">
              <i class="icon-guideline-goout"></i>
            </a>
          {{/if}}
        {{else}}
          <div class="feature-result-item-edit-forms">
            <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
              {{t "components.feature-result-item.select-object-caption"}}
              <i class="dropdown icon"></i>
              <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
                  {{#each feature.editForms as |editForm|}}
                    <a class="feature-result-item-object icon item"
                      title="{{editForm.typeName}}"
                      href="{{editForm.url}}" target="_blank">
                      <i class="icon-guideline-goout"></i>
                    </a>
                  {{/each}}
                  {{#if hasEditForm}}
                    <a class="feature-result-item-object icon item"
                      title="{{t "components.feature-result-item.action-object-caption"}}"
                      {{action "goToEditForm" feature.layerModel.id featureId}}>
                      <i class="icon-guideline-goout"></i>
                    </a>
                  {{/if}}
              </div>
            </div>
          </div>
        {{/if}}
      {{else}}
        {{#if hasEditForm}}
          <a class="feature-result-item-object icon item"
            title="{{t "components.feature-result-item.action-object-caption"}}"
            {{action "goToEditForm" feature.layerModel.id featureId}}>
            <i class="icon-guideline-goout"></i>
          </a>
        {{/if}}
      {{/if}}
      <a class="icon item more" {{action "onSubmenu" on="click"}}>
        <i class="icon-guideline-points"></i>
      </a>
      <div class="more submenu {{if isSubmenu '' 'hidden'}}">
        <div>
          <a class="more-button" {{action "onSubmenu" on="click"}}>
            <i class="icon-guideline-points"></i>
          </a>
        </div>
        <div>
          <a class="icon item" {{action "panTo" on="click"}}>
            <i class="icon-guideline-hand"></i>
            {{t "components.feature-result-item.pan-to-caption"}}
          </a>
        </div>
        <div>
          {{#if (and availableEdit (not feature.arch))}}
            <a class="icon item" {{action "onRowEdit" on="click"}}>
              <i class="icon-guideline-edit-r"></i>
              {{t "components.feature-result-item.edit-caption"}}
            </a>
          {{/if}}
        </div>
        <div>
          <a class="icon item"  {{action "findIntersection" on="click"}}>
            <i class="icon-guideline-intersection"></i>
            {{t "components.feature-result-item.find-intersection-caption"}}
          </a>
        </div>
        <div>
          <a class="icon item"  {{action "searchSatellites" feature on="click"}}>
            <i class="icon-guideline-earth"></i>
            {{t "components.feature-result-item.search-satellite"}}
          </a>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="feature-result-item-caption" {{action "showInfo" on="click"}}>
    <label>{{get feature displayProperty}}</label>
  </div>
</div>
<div class="feature-result-item-content content {{if infoExpanded "visible" "hidden"}}">
  {{#if infoExpanded}}
      {{#each-in feature.properties as |propertyName propertyValue|}}
        {{#if (not (array-contains _excludedProperties propertyName))}}
          <div class="feature-div-property-name">
            {{#if (get _localizedProperties propertyName)}}
              {{get _localizedProperties propertyName}}
            {{else}}
              {{propertyName}}
            {{/if}}
          </div>
          <div class="feature-div-property-value">
            {{#if (regex-test propertyValue '^(https?|ftp)://(-\.)?([^\s/?\.#-]+\.?)+(/[^\s]*)?')}}
              <a target="_blank" href="{{propertyValue}}">{{propertyValue}}</a>
            {{else}}
              {{{propertyValue}}}
            {{/if}}
          </div>
        {{/if}}
      {{/each-in}}
      {{#if intersection}}
        {{#if feature.intersection.isPolygon}}
          <div class="feature-div-property-name">
            {{t 'components.flexberry-layers-intersections-panel.square'}}
          </div>
          <div class="feature-div-property-value">
            {{feature.intersection.intersectedArea}} {{t 'components.flexberry-layers-intersections-panel.m2'}}
          </div>
        {{/if}}
        {{#if feature.intersection.intersectionCords}}
          <div class="feature-div-property-name">
            {{t 'components.flexberry-layers-intersections-panel.intersection-cords'}}
          </div>
          <div class="feature-div-property-value">
              <div>
                <table class="ui compact celled table intersection-table">
                  <tr>
                    <td>
                      {{t 'components.flexberry-layers-intersections-panel.x-cord'}}
                    </td>
                    <td>
                      {{t 'components.flexberry-layers-intersections-panel.y-cord'}}
                    </td>
                  </tr>
                  {{#if showAllCords}}
                    {{#each feature.intersection.intersectionCords as |cords|}}
                      <tr>
                        {{#if cords}}
                          <td>
                            {{cords.[0]}}
                          </td>
                          <td>
                            {{cords.[1]}}
                          </td>
                        {{/if}}
                      </tr>
                    {{/each}}
                  {{else}}
                    <tr>
                      <td>
                        {{feature.intersection.intersectionCords.[0].[0]}}
                      </td>
                      <td>
                        {{feature.intersection.intersectionCords.[0].[1]}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{feature.intersection.intersectionCords.[1].[0]}}
                      </td>
                      <td>
                        {{feature.intersection.intersectionCords.[1].[1]}}
                      </td>
                    </tr>
                  {{/if}}
                </table>
                <div class="show-cords" {{action "toggleShowAllCords"}}>
                  {{cordsActionCaption}}
                </div>
              </div>
            </div>
        {{/if}}
      {{/if}}
  {{/if}}
</div>