{{!--
  See https://github.com/ciena-blueplanet/ember-block-slots#usage
  {{yield}} is required here to make yield-slots available.
--}}
{{yield}}

{{#flexberry-treenode
  _hasContent=_hasContent
  class=componentName
  headerClick=(action "onHeaderClick")
  beforeExpand=(action "onBeforeExpand")
  beforeCollapse=(action "onBeforeCollapse")
}}
  {{#block-slot "header"}}
    <div class="flexberry-treenode-header-block">
      <div class="flexberry-treenode-caption-block">
        {{#if compareLayersEnabled}}
          {{flexberry-ddau-checkbox
            class=(concat flexberryClassNames.visibilityCheckbox " " flexberryClassNames.preventExpandCollapse " " layer.type " " disabled)
            value=layer.visibility
            change=(action "onChange")
            readonly=(and (not-eq side layer.side) (not-eq layer.side null) true)
          }}
        {{else}}
          {{#if (not compareLayersEnabled)}}
            {{flexberry-ddau-checkbox
              class=(concat flexberryClassNames.visibilityCheckbox " " flexberryClassNames.preventExpandCollapse " " layer.type)
              value=layer.visibility
              change=(action "onVisibilityCheckboxChange")
            }}
          {{/if}}
        {{/if}}
        {{flexberry-icon
          class=(concat flexberryClassNames.typeIcon " " _typeIconClass)
        }}
        <label class={{flexberryClassNames.caption}}>
          {{layer.name}}
          {{#if layer.settingsAsObject.time}}
           от {{flexberry-simpledatetime
                value=dateTime
                type="datetime"
                max=maxDate
                layer=layer
              }}
          {{/if}}
        </label>
        {{#if (not compareLayersEnabled)}}
          <div class="flexberry-treenode-buttons-block hidden">
            {{#if (not readonly)}}
              {{#if (not isGroup)}}
                {{flexberry-button
                  class=(concat flexberryClassNames.attributesButton " floated " flexberryClassNames.preventExpandCollapse)
                  iconClass="plus icon"
                  tooltip=(t "components.flexberry-maplayer.plus-button.tooltip")
                  click=(action "onFeatureCreateButtonClick")
                }}
              {{/if}}
              {{#if _attributesOperationIsAvailable}}
                {{flexberry-button
                  class=(concat flexberryClassNames.attributesButton " floated " flexberryClassNames.preventExpandCollapse)
                  iconClass="browser icon"
                  tooltip=(t "components.flexberry-maplayer.attributes-button.tooltip")
                  click=(action "onAttributesButtonClick")
                }}
              {{/if}}
              <div class="allmore floated flexberry-button ui button icon {{flexberryClassNames.preventExpandCollapse}}">
                {{flexberry-button
                  class=(concat "more floated " flexberryClassNames.preventExpandCollapse)
                  iconClass="more icon"
                  click=(action "onSubmenu")
                }}
                <div class="more submenu {{if isSubmenu '' 'hidden'}}">
                  <div class="button-more-submenu">
                  {{flexberry-button
                    class=(concat "more submenu floated " flexberryClassNames.preventExpandCollapse)
                    iconClass="more icon"
                    click=(action "onSubmenu")
                  }}
                  </div>
                  {{#if _fitBoundsOperationIsAvailable}}
                    {{flexberry-button
                      class=(concat flexberryClassNames.boundsButton " floated " flexberryClassNames.preventExpandCollapse)
                      iconClass="maximize icon"
                      caption=(t "components.flexberry-maplayer.bounds-button.tooltip")
                      click=(action "onBoundsButtonClick")
                    }}
                  {{/if}}
                  {{flexberry-button
                    class=(concat flexberryClassNames.editButton " floated " flexberryClassNames.preventExpandCollapse)
                    iconClass="edit icon"
                    caption=(t "components.flexberry-maplayer.edit-button.tooltip")
                    click=(action "onEditButtonClick")
                  }}
                  {{flexberry-button
                    class=(concat flexberryClassNames.copyButton " floated " flexberryClassNames.preventExpandCollapse)
                    iconClass="copy icon"
                    caption=(t "components.flexberry-maplayer.copy-button.tooltip")
                    click=(action "onCopyButtonClick")
                  }}
                  {{#if _addOperationIsAvailable}}
                    {{flexberry-button
                      class=(concat flexberryClassNames.addButton " floated " flexberryClassNames.preventExpandCollapse)
                      iconClass="plus icon"
                      caption=(t "components.flexberry-maplayer.add-button.tooltip")
                      click=(action "onAddButtonClick")
                    }}
                  {{/if}}
                  {{flexberry-button
                    class=(concat flexberryClassNames.removeButton " floated " flexberryClassNames.preventExpandCollapse)
                    iconClass="trash icon"
                    caption=(t "components.flexberry-maplayer.remove-button.tooltip")
                    click=(action "onRemoveButtonClick")
                  }}
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    {{!--
      Semantic UI modal dialogs takes long time to be initialized
      so include each dialog in the markup only if dialog has been requested by user (similar "lazy load").
    --}}
    {{#if _addDialogHasBeenRequested}}
      {{component "layers-dialogs/add"
        class=flexberryClassNames.addDialog
        visible=_addDialogIsVisible
        layer=_addDialogLayer
        leafletMap=leafletMap
        typeIsReadonly=false
        approve=(action "onAddDialogApprove")
      }}
    {{/if}}
    {{#if _copyDialogHasBeenRequested}}
      {{component "layers-dialogs/copy"
        class=flexberryClassNames.copyDialog
        visible=_copyDialogIsVisible
        layer=_copyDialogLayer
        typeIsReadonly=true
        leafletMap=leafletMap
        approve=(action "onCopyDialogApprove")
      }}
    {{/if}}
    {{#if _editDialogHasBeenRequested}}
      {{component "layers-dialogs/edit"
        class=flexberryClassNames.editDialog
        visible=_editDialogIsVisible
        layer=_editDialogLayer
        links=layer.layerLink
        linksPropertyPath="links"
        typeIsReadonly=true
        leafletMap=leafletMap
        approve=(action "onEditDialogApprove")
      }}
    {{/if}}
    {{#if _removeDialogHasBeenRequested}}
      {{component "layers-dialogs/remove"
        class=flexberryClassNames.removeDialog
        visible=_removeDialogIsVisible
        layer=_removeDialogLayer
        approve=(action "onRemoveDialogApprove")
      }}
    {{/if}}

    {{#yield-slot "header"}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot "content"}}
    {{#if _hasLayers}}
      {{flexberry-maplayers
        readonly=readonly
        leafletMap=leafletMap
        layers=layer.layers
        compareLayersEnabled=compareLayersEnabled
        side=side
        sideBySide=sideBySide
        leftLayer=leftLayer
        rightLayer=rightLayer
        isGroup=isGroup
      }}
    {{/if}}
    {{#yield-slot "content"}}
      {{yield}}
      {{#if _canChangeOpacity}}
        {{flexberry-ddau-slider
          class=(concat flexberryClassNames.opacitySlider " " flexberryClassNames.preventExpandCollapse)
          value=layer.settingsAsObject.opacity
          change=(action "onOpacitySliderChange")
        }}
      {{/if}}
      {{#if (known-for-type "component" (concat "layer-treenode-contents/" layer.type))}}
        {{component (concat "layer-treenode-contents/" layer.type)
          layer=layer
          dynamicActions=layer.dynamicActions
        }}
      {{/if}}
      {{#if (and layer.legendCanBeDisplayed hasBeenExpanded)}}
        {{component (concat "legends/" layer.type "-legend")
          layer=layer
        }}
      {{/if}}
    {{/yield-slot}}
  {{/block-slot}}
{{/flexberry-treenode}}
