<i class="{{flexberryClassNames.closeButton}} close icon"></i>
<div class="{{flexberryClassNames.header}} header">
  {{caption}}
  {{dynamic-components-placeholder name="header"}}
</div>
<div class="{{flexberryClassNames.content}} content">
  {{content}}
  {{dynamic-components-placeholder name="content"}}
  {{yield}}
</div>
<div class="{{flexberryClassNames.toolbar}} actions">
  {{flexberry-button
    class=(concat flexberryClassNames.approveButton " approve positive")
    caption=approveButtonCaption
  }}
  {{flexberry-button
    class=(concat flexberryClassNames.cancelButton " deny negative")
    caption=denyButtonCaption
  }}
  {{dynamic-components-placeholder name="toolbar"}}
</div>