<input type="file" class="d-none" onchange={{action 'uploadFile' }}>
<div class="w-80">
    <div>
        <label>Файл * </label>
        <input onClick={{action 'setFiles' }} value={{stringFiles}}>
        {{help-popup htmlMessage="<div class='content'>
            Загрузите файл формата: TAB (в архиве .zip), MIF/MID (в архиве .zip), SHP (в архиве .zip), GEOJSON. Набор
            связанных файлов, составляющих файл формата TAB, MIF/MID или SHP, должен быть сохранен в основной директории
            архива .zip, а не в директориях, созданных внутри архива.
        </div>"}}
    </div>
</div>
<label>Cистема координат</label>
{{flexberry-dropdown-input
items=systemCoordinats
value=coordinate
class="scale-value fluid"
}}
<div class="d-flex justify-content-center p-10">
    {{flexberry-button
    iconClass='icon-guideline-show'
    click=(action "identification")
    readonly = (eq stringFiles '')
    }}
    {{flexberry-button
    class='ml-20'
    iconClass='icon-guideline-layers-info'
    }}
    {{flexberry-button
    class='ml-20'
    iconClass='icon-guideline-goout'
    }}
</div>