{{!--
  See https://github.com/ciena-blueplanet/ember-block-slots#usage
  {{yield}} is required here to make yield-slots available.
--}}
{{yield}}
{{#if (and compare.compareLayersEnabled (not isGroup) (not ignoreCompareMode))}}
   <div class="ui pointing group secondary menu">
      <a class="item {{if (eq compare.side "Left") "active"}}" onclick={{action "setSide" "side" "Left"}}>
        {{t "components.flexberry-maplayers.left-part"}}
      </a>
      <a class="item {{if (eq compare.side "Right") "active"}}" onclick={{action "setSide" "side" "Right"}}>
        {{t "components.flexberry-maplayers.right-part"}}
      </a>
  </div>
  {{help-popup variation="very wide" position="bottom left" htmlMessage="<div class='content'><p>Выберите в списке слои для отображения на частях карты, используя для переключения вкладки \"Левая часть\" и \"Правая часть\". Для настройки подложки нажмите кнопку \"Подложки\" и, используя для переключения вкладки \"Левая часть\" и \"Правая часть\", выберите те, которые необходимо отображать.</p></div>"}}
  <p class="all-layers">ВСЕГО ПОКАЗАНО СЛОЁВ: {{compareLayersCount}}</p>
{{/if}}
  {{#yield-slot "above-tree" (block-params this)}}
    {{yield}}

    {{#if (not compare.compareLayersEnabled)}}
      <div class="flexberry-check-all">
        <span {{action "onAllLayerVisibilityChanged"}}>{{#if allLayerVisible}}Снять выделение{{else}}Выделить все{{/if}}</span>
      </div>
    {{/if}}

  {{/yield-slot}}
  {{#flexberry-tree
    _isRoot=_isRoot
    _hasHeader=_hasHeader
    _hasContent=_hasContent
    class=(concat flexberryClassNames.wrapper " " class)
    placeholder=placeholder
    exclusive=exclusive
    collapsible=collapsible
    animateChildren=animateChildren
    duration=duration
  }}
  {{#block-slot "header"}}
    {{#yield-slot "header" (block-params this)}}
      {{yield}}
    {{/yield-slot}}

    {{#if (not readonly)}}
      {{flexberry-button
        class=(concat flexberryClassNames.addButton " right floated")
        iconClass="plus icon"
        click=(action "onAddButtonClick")
      }}
      <div style="clear: both;"></div>
    {{/if}}
  {{/block-slot}}

  {{#block-slot "content"}}
    {{#each layers as |layer|}}
      {{#if (and (not layer.isDeleted) (not (array-contains backgroundIds layer.id)))}}
        {{#flexberry-maplayer
          readonly=readonly
          access=access
          leafletMap=leafletMap
          histEnabled=histEnabled
          layer=layer
          dynamicProperties=layer.dynamicProperties
          dynamicActions=layer.dynamicActions
          side=side
          sideBySide=sideBySide
          leftLayer=leftLayer
          rightLayer=rightLayer
          closeOtherCalendar = (action "closeOtherCalendar")
          layerTimeChanged=(action "onLayerTimeChanged")
          dynamicButtons=dynamicButtons
          external=(action 'external')
          backgroundLayers=backgroundLayers
          ignoreCompareMode=ignoreCompareMode
        }}
        {{/flexberry-maplayer}}
      {{/if}}
    {{/each}}
    {{#yield-slot "content" (block-params this)}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot "footer"}}
    {{#yield-slot "footer" (block-params this)}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}
  {{/flexberry-tree}}

  {{#yield-slot "under-tree" (block-params this)}}
  {{yield}}
  {{/yield-slot}}

  {{!--
    Semantic UI modal dialogs takes long time to be initialized
    so include each dialog in the markup only if dialog has been requested by user (similar "lazy load").
  --}}
  {{#if _addDialogHasBeenRequested}}
    {{component "layers-dialogs/add"
      class=flexberryClassNames.addDialog
      visible=_addDialogIsVisible
      layer=_addDialogLayer
      leafletMap=leafletMap
      approve=(action "onAddDialogApprove")
    }}
  {{/if}}
