<div class="flexberry-vector-layers-settings">
  <div class="ui horizontal segments">

    <div class="ui segments settings">
        <div class="ui top attached label">{{t "components.flexberry-vector-layers-settings.caption"}}</div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.visibility"}}
          </label>
          {{flexberry-checkbox
            value=settings.stroke
            label=(t "components.flexberry-vector-layers-settings.outline.settings.visibility")
            class="fluid"
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.сolour"}}
          </label>
          {{flexberry-colorpicker
            value=settings.color
            change=(action "onColorOutlineChange")
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.thickness"}}
          </label>
          {{flexberry-field
            type="number"
            value=settings.weight
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.opacity"}}
          </label>
          {{flexberry-ddau-slider
            value=settings.opacity
            change=(action "onOpacityOutlineChange")
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.ends"}}
          </label>
          {{flexberry-dropdown
            class="fluid"
            items=_itemsLineCap
            value=settings.lineCap
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.corners"}}
          </label>
          {{flexberry-dropdown
            class="fluid"
            items=_itemsLineJoin
            value=settings.lineJoin
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.hatching"}}
          </label>
          {{flexberry-dropdown
            class="fluid"
            items=_itemsDashArray
            value=settings.dashArray
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.outline.settings.displacement"}}
          </label>
          {{flexberry-field
            type="number"
            value=settings.dashOffset
          }}
        </div>

        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.pouring.settings.visibility"}}
          </label>
          {{flexberry-checkbox
            value=settings.fill
            label=(t "components.flexberry-vector-layers-settings.pouring.settings.visibility")
            class="fluid"
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.pouring.settings.сolour"}}
          </label>
          {{flexberry-colorpicker
            value=settings.fillColor
            change=(action "onColorPouringChange")
          }}
        </div>
        <div class="field">
          <label>
            {{t "components.flexberry-vector-layers-settings.pouring.settings.opacity"}}
          </label>
          {{flexberry-ddau-slider
            value=settings.fillOpacity
            change=(action "onOpacityPouringChange")
          }}
        </div>
    </div>

    <div class="ui segments canvas">
      <canvas id="canvas" width="150" height="150"></canvas>
    </div>

  </div>
</div>
