<form class="ui form {{flexberryClassNames.prefix}}" role="form">
  <div class="ui pointing group secondary menu">
    {{#if _mainGroupIsAvailableForType}}
      <a class="item {{if (eq _tabularMenuState.activeGroup "main-group") "active"}}" data-tab="main-group" onclick={{action "onGroupClick"}}>
        {{t "components.layers-dialogs.edit.groups.main-group.caption"}}
      </a>
    {{/if}}
    {{#if _displayGroupIsAvailableForType}}
      <a class="item {{if (eq _tabularMenuState.activeGroup "display-group") "active"}}" data-tab="display-group" onclick={{action "onGroupClick"}}>
        {{t "components.layers-dialogs.edit.groups.display-group.caption"}}
      </a>
    {{/if}}
    {{#if _linksGroupIsAvailableForType}}
      <a class="item {{if (eq _tabularMenuState.activeGroup "links-group") "active"}}" data-tab="links-group" onclick={{action "onGroupClick"}}>
        {{t "components.layers-dialogs.edit.groups.links-group.caption"}}
      </a>
    {{/if}}
  </div>
  {{#if _mainGroupIsAvailableForType}}
    <div class="ui group tab segment {{if (eq _tabularMenuState.activeGroup "main-group") "active"}}" data-tab="main-group">
      <div class="ui top attached fluid tabular menu">
        {{#if _mainSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.main-group.activeTab "main-tab") "active"}}" data-tab="main-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.main-tab.caption"}}
          </a>
        {{/if}}
        {{#if _crsSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.main-group.activeTab "crs-tab") "active"}}" data-tab="crs-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.crs-tab.caption"}}
          </a>
        {{/if}}
        {{#if _layerSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.main-group.activeTab "settings-tab") "active"}}" data-tab="settings-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _bboxSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.main-group.activeTab "bbox-tab") "active"}}" data-tab="bbox-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.bbox-tab.caption"}}
          </a>
        {{/if}}
      </div>
      {{#if _mainSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.main-group.activeTab "main-tab") "active"}}" data-tab="main-tab">
          {{#if _modesAreAvailable}}
            <div class="field">
              <label>
                {{t "components.layers-dialogs.edit.mode-dropdown.caption"}}
              </label>
              {{flexberry-dropdown
                class="fluid"
                items=_availableModesCaptions
                value=_selectedModeCaption
              }}
            </div>
          {{/if}}
          {{#if _selectedMode}}
            {{component (concat "layers-dialogs/edit-modes/" _selectedMode.name) editingFinished=(action "onEditingFinished")}}
          {{/if}}
          <div class="field">
            <label>
              {{typeDropdownCaption}}
            </label>
            {{flexberry-dropdown
              class="fluid"
              items=_availableTypes
              value=_layer.type
              readonly=_typeIsReadonly
            }}
          </div>
          <div class="field">
            <label>
              {{nameTextboxCaption}}
            </label>
            {{flexberry-textbox
              class="fluid"
              value=_layer.name
            }}
          </div>
          <div class="field">
            <label>
              {{descriptionTextboxCaption}}
            </label>
            {{flexberry-textbox
              class="fluid"
              value=_layer.description
            }}
          </div>
          <div class="field">
            <label>
              {{keyWordsTextboxCaption}}
            </label>
            {{flexberry-textbox
              class="fluid"
              value=_layer.keyWords
            }}
          </div>
          {{#if _scaleSettingsAreAvailableForType}}
            <div class="field">
              <label>
                {{scaleTextboxCaption}}
              </label>
              {{flexberry-dropdown-input
                class="scale-value fluid"
                direction="upward"
                items=scales
                value=_layer.scale
                onKeyDown=(action "scaleInputKeyDown")
                inputPlaceholder=(t "forms.gis-search-form.scale-dropdown-input-placeholder")
                inputTitle=(t "forms.gis-search-form.scale-dropdown-input-title")
              }}
            </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if _crsSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.main-group.activeTab "crs-tab") "active"}}" data-tab="crs-tab">
          {{flexberry-edit-crs
            coordinateReferenceSystem=_layer.coordinateReferenceSystem
          }}
        </div>
      {{/if}}
      {{#if _layerSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.main-group.activeTab "settings-tab") "active"}}" data-tab="settings-tab">
          {{component (concat "layers-dialogs/settings/" _layer.type) settings=_layer.settings bounds=_layer.settings.wgs84bbox}}
        </div>
      {{/if}}
      {{#if _bboxSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.main-group.activeTab "bbox-tab") "active"}}" data-tab="bbox-tab">
          {{#if (or _bboxMapIsLoading _hideBbox)}}
            <div class="ui form loading" style="height: 100%;">
            </div>
          {{else}}
            {{flexberry-boundingbox
              mapModel=boundingBoxComponentMap
              minLat=_layer.bboxCoords.minLat
              minLng=_layer.bboxCoords.minLng
              maxLat=_layer.bboxCoords.maxLat
              maxLng=_layer.bboxCoords.maxLng
              boundingBoxChange=(action "onBoundingBoxChange")
            }}
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if _displayGroupIsAvailableForType}}
    <div class="ui group tab segment {{if (eq _tabularMenuState.activeGroup "display-group") "active"}}" data-tab="display-group">
      <div class="ui top attached fluid tabular menu">
        {{#if _identifySettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.display-group.activeTab "identify-tab") "active"}}" data-tab="identify-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.identify-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _searchSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.display-group.activeTab "search-tab") "active"}}" data-tab="search-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.search-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _displaySettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.display-group.activeTab "display-tab") "active"}}" data-tab="display-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.display-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _legendSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.display-group.activeTab "legend-tab") "active"}}" data-tab="legend-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.legend-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _filterSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.display-group.activeTab "filter-tab") "active"}}" data-tab="filter-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.wfs-filter-settings-tab.caption"}}
          </a>
        {{/if}}
      </div>
      {{#if _identifySettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.display-group.activeTab "identify-tab") "active"}}" data-tab="identify-tab">
          {{flexberry-jsonarea value=_layer.settings.identifySettings}}
        </div>
      {{/if}}
      {{#if _searchSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.display-group.activeTab "search-tab") "active"}}" data-tab="search-tab">
          {{flexberry-jsonarea value=_layer.settings.searchSettings}}
        </div>
      {{/if}}
      {{#if _displaySettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.display-group.activeTab "display-tab") "active"}}" data-tab="display-tab">
          {{flexberry-jsonarea value=_layer.settings.displaySettings}}
        </div>
      {{/if}}
      {{#if _legendSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.display-group.activeTab "legend-tab") "active"}}" data-tab="legend-tab">
          {{flexberry-jsonarea value=_layer.settings.legendSettings}}
        </div>
      {{/if}}
      {{#if _filterSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.display-group.activeTab "filter-tab") "active"}}" data-tab="filter-tab">
          {{flexberry-wfs-filter
            filter=_layer.settings.filter
            _leafletObject=_leafletObject
            _layerType=_layer.type
          }}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if _linksGroupIsAvailableForType}}
    <div class="ui group tab segment {{if (eq _tabularMenuState.activeGroup "links-group") "active"}}" data-tab="links-group">
      <div class="ui top attached fluid tabular menu">
        {{#if _linksSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _tabularMenuState.groups.links-group.activeTab "links-tab") "active"}}" data-tab="links-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.links-tab.caption"}}
          </a>
        {{/if}}
      </div>
      {{#if _linksSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _tabularMenuState.groups.links-group.activeTab "links-tab") "active"}}" data-tab="links-tab">
          {{#each links as |link index|}}
            {{#unless link.isDeleted}}
              {{flexberry-links-editor
                model=link
                changeVisibility=(action "allowShowCheckboxChange" (concat linksPropertyPath "." index ".allowShow"))
                remove=(action "removeLayerLink")
                modelName=parametersModelName
                modelProjection=parametersModelProjection
              }}
            {{/unless}}
          {{/each}}
          <div class="field">
            {{flexberry-button
              class="fluid"
              click=(action "addLayerLink")
              caption=(t "components.layers-dialogs.edit.links-segment.add-button.caption")
            }}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</form>
