<div class="ui grid">
  <div class = "eight wide column">
    <h4>{{t "components.flexberry-wfs-filter.fields"}}</h4>
      <div class="ui middle aligned selection list">
    {{#each fields as |field|}}
      <div class="item">
        <div class="content">
          {{field}}
        </div>
      </div>
      {{else}}
   {{t "components.flexberry-wfs-filter.settings-not-set"}}
   {{/each}}
   </div>
  </div>

  <div class = "eight wide column">
    <h4>{{t "components.flexberry-wfs-filter.values"}}</h4>
    <div class="ui middle aligned selection list">
      {{#each values as |value|}}
        <div class="item">
          <div class="content">
            {{value}}
          </div>
        </div>
        {{else}}
     {{t "components.flexberry-wfs-filter.settings-not-set"}}
     {{/each}}
    </div>
    {{flexberry-button
      class=biggerButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.example")
      readonly=readonly
    }}
    {{flexberry-button
      class=biggerButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.all")
      readonly=readonly
    }}
  </div>
  <div class = "sixteen wide column">
  <h4>{{t "components.flexberry-wfs-filter.operators"}}</h4>
    {{flexberry-button
      class=smallButtonClass
      caption="="
      readonly=readonly
      click=(action "pasteConditionExpression" "=")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="<"
      readonly=readonly
      click=(action "pasteConditionExpression" "<")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=">"
      readonly=readonly
      click=(action "pasteConditionExpression" ">")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="LIKE"
      readonly=readonly
      click=(action "pasteConditionExpression" "LIKE")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=","
      readonly=readonly
      click=(action "pasteSymbol" ", ")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.in")
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.not-in")
      readonly=readonly
    }}
    <br>
    {{flexberry-button
      class=smallButtonClass
      caption="<="
      readonly=readonly
      click=(action "pasteConditionExpression" "<=")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=">="
      readonly=readonly
      click=(action "pasteConditionExpression" ">=")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="!="
      readonly=readonly
      click=(action "pasteConditionExpression" "!=")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="ILIKE"
      readonly=readonly
      click=(action "pasteConditionExpression" "ILIKE")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.and")
      readonly=readonly
      click=(action "pasteLogicalExpression" "AND")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.or")
      readonly=readonly
      click=(action "pasteLogicalExpression" "OR")
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.not")
      readonly=readonly
      click=(action "pasteLogicalExpression" "NOT")
    }}
  </div>
  <div class = "sixteen wide column">
    {{textarea class="edit-filter-textarea" value=filterStringValue doubleClick=(action "parseFilter")}}
  </div>
</div>
