<div class="{{flexberryClassNames.loaderDimmer}} ui {{if _isLoaderShown "active"}} dimmer"></div>
<div class="{{flexberryClassNames.loader}} ui {{if _isLoaderShown "active"}} text loader"></div>
{{yield _layer}}