<div class="{{flexberryClassNames.wrapper}}">
  <div class="{{flexberryClassNames.layersOptions}}">
    {{flexberry-button
      class=(concat flexberryClassNames.identifyAll (if (eq layerMode "all") " active" ""))
      iconClass=allIconClass
      tooltip=allCaption
      click=(action "onLayerModeChange" "all")
    }}
    {{flexberry-button
      class=(concat flexberryClassNames.identifyAllVisible (if (eq layerMode "visible") " active" ""))
      iconClass=visibleIconClass
      tooltip=visibleCaption
      click=(action "onLayerModeChange" "visible")
    }}
    {{flexberry-button
      class=(concat flexberryClassNames.identifyTopVisible (if (eq layerMode "top") " active" ""))
      iconClass=topIconClass
      tooltip=topCaption
      click=(action "onLayerModeChange" "top")
    }}
  </div>
  <div class="{{flexberryClassNames.toolsOptions}}">
    {{flexberry-button
      class=(concat flexberryClassNames.identifyMarker (if (eq toolMode "marker") " active" ""))
      iconClass=markerIconClass
      tooltip=markerCaption
      click=(action "onToolModeChange" "marker")
    }}
    {{flexberry-button
      class=(concat flexberryClassNames.identifyPolyline (if (eq toolMode "polyline") " active" ""))
      iconClass=polylineIconClass
      tooltip=polylineCaption
      click=(action "onToolModeChange" "polyline")
    }}
    {{flexberry-button
      class=(concat flexberryClassNames.identifyRectangle (if (eq toolMode "rectangle") " active" ""))
      iconClass=rectangleIconClass
      tooltip=rectangleCaption
      click=(action "onToolModeChange" "rectangle")
    }}
    {{flexberry-button
      class=(concat flexberryClassNames.identifyPolygon (if (eq toolMode "polygon") " active" ""))
      iconClass=polygonIconClass
      tooltip=polygonCaption
      click=(action "onToolModeChange" "polygon")
    }}
  </div>
  <div class="{{flexberryClassNames.otherOptions}}">
    {{flexberry-button
      class=flexberryClassNames.clearButton
      iconClass=clearIconClass
      tooltip=clearCaption
      click=(action "onIdentificationClear")
    }}
  </div>
  <div class="buffer-caption">
    <label>{{bufferRadiusCaption}}</label>
  </div>
  <div class="buffer-tools">
    <div class="field">
      {{input
        type="text"
        value=bufferRadius
        key-up=(action "onInputLimit")
      }}
    </div>
    <div class="field">
      {{flexberry-dropdown
        items=bufferUnitsList
        value=bufferUnitsValue
      }}
    </div>
  </div>
</div>