<div class="ui grid">
  <div class = "eight wide column">
    {{#each field in fields}}
    {{flexberry-checkbox
        value=model.flag
        label=field
        readonly=readonly
        class=class
        }}
      {{else}}
   {{t "components.flexberry-wfs-filter.settings-not-set"}}
   {{/each}}
  </div>
  <div class = "eight wide column">
    <div class="ui middle aligned selection list">
      <div class="item">
        <div class="content">
          айтем
        </div>
      </div>
      <div class="item">
        айтем
      </div>
      <div class="item">
        айтем
      </div>
    </div>


    {{flexberry-button
      class=biggerButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.example")
      readonly=readonly
    }}
    {{flexberry-button
      class=biggerButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.all")
      readonly=readonly
    }}
  </div>
  <div class = "sixteen wide column">
    {{flexberry-button
      class=smallButtonClass
      caption="="
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="<"
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=">"
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="LIKE"
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="%"
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.in")
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.not-in")
      readonly=readonly
    }}
    <br>
    {{flexberry-button
      class=smallButtonClass
      caption="<="
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=">="
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="!="
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption="ILIKE"
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.and")
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.or")
      readonly=readonly
    }}
    {{flexberry-button
      class=smallButtonClass
      caption=(t "components.flexberry-wfs-filter.buttons.not")
      readonly=readonly
    }}
  </div>
  <div class = "sixteen wide column">
    {{textarea
      readonly=true
    }}
  </div>
</div>
