<div class="ui celled grid">
  <div class="row">
    <div class = "eight wide column">
      <h4>{{t "components.flexberry-wfs-filter.fields"}}</h4>
      <div class = "ui container scrollable content layers-fields-container">
        <div class="ui middle aligned selection list">
          {{#each fields as |field|}}
            <div class="item {{if (eq _selectedField field) "active"}}" {{action "fieldClick" field}} {{action "pasteFieldValue" field on="doubleClick"}}>
              <div class="content unselectable">
                {{field}}
              </div>
            </div>
            {{else}}
          <div class="item">
            {{t "components.flexberry-wfs-filter.settings-not-set"}}
          </div>
         {{/each}}
       </div>
     </div>
    </div>
    <div class = "eight wide column">
      <h4>{{t "components.flexberry-wfs-filter.values"}}</h4>
      <div class = "ui container scrollable content layers-fields-container">
        <div class="ui middle aligned selection list">
          {{#each values as |value|}}
            <div class="item {{if (eq _selectedValue value) "active"}}" {{action "valueClick" value}} {{action "pasteFieldValue" value on="doubleClick"}}>
              <div class="content unselectable">
                {{value}}
              </div>
            </div>
            {{else}}
          <div class="item">
            {{t "components.flexberry-wfs-filter.settings-not-set"}}
          </div>
         {{/each}}
        </div>
      </div>
      {{flexberry-button
        class=fieldValuesLoadButtonClass
        caption=(t "components.flexberry-wfs-filter.buttons.example")
        click=(action "showExample")
      }}
      {{flexberry-button
        class=fieldValuesLoadButtonClass
        caption=(t "components.flexberry-wfs-filter.buttons.all")
        click=(action "showAll")
      }}
    </div>
  </div>
  <div class="row">
    <div class = "sixteen wide column">
    <h4>{{t "components.flexberry-wfs-filter.operators"}}</h4>
      {{flexberry-button
        class=operatorButtonClass
        caption="="
        readonly=readonly
        click=(action "pasteConditionExpression" "=")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption="<"
        readonly=readonly
        click=(action "pasteConditionExpression" "<")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=">"
        readonly=readonly
        click=(action "pasteConditionExpression" ">")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption="LIKE"
        readonly=readonly
        click=(action "pasteConditionExpression" "LIKE")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=","
        readonly=readonly
        click=(action "pasteSymbol" ", ")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=(t "components.flexberry-wfs-filter.buttons.not")
        readonly=readonly
        click=(action "pasteLogicalExpression" "NOT")
      }}
      <br>

      {{flexberry-button
        class=operatorButtonClass
        caption="!="
        readonly=readonly
        click=(action "pasteConditionExpression" "!=")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption="<="
        readonly=readonly
        click=(action "pasteConditionExpression" "<=")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=">="
        readonly=readonly
        click=(action "pasteConditionExpression" ">=")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption="ILIKE"
        readonly=readonly
        click=(action "pasteConditionExpression" "ILIKE")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=(t "components.flexberry-wfs-filter.buttons.and")
        readonly=readonly
        click=(action "pasteLogicalExpression" "AND")
      }}
      {{flexberry-button
        class=operatorButtonClass
        caption=(t "components.flexberry-wfs-filter.buttons.or")
        readonly=readonly
        click=(action "pasteLogicalExpression" "OR")
      }}
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      <div class="three top attached buttons">
        {{flexberry-button
          class=operatorButtonClass
          caption=(t "components.flexberry-wfs-filter.buttons.apply")
          readonly=readonly
        }}
        {{flexberry-button
          class=operatorButtonClass
          caption=(t "components.flexberry-wfs-filter.buttons.check")
          readonly=readonly
        }}
        {{flexberry-button
          class=operatorButtonClass
          caption=(t "components.flexberry-wfs-filter.buttons.clear")
          readonly=readonly
        }}
      </div>
      {{textarea class="edit-filter-textarea" value=filterStringValue doubleClick=(action "parseFilter")}}
    </div>
  </div>
</div>
