
<div class={{concat "ui very wide bottom bottompanel pushable tabbar" (if folded " folded" "") (if settings.withToolbar " withToolbar" "") (if settings.sidebarOpened " sidebarOpened" "")}} >
  <div class="ui top attached tabular menu bottompanel-tab-nav-panel-tabs">
      <a class= "bottompanel tab item active"
        {{action 'hidePanel'}}>
        {{feature.properties.name}}
      </a>
       <i class="{{flexberryClassNames.closeButton}} close icon" style=" margin-left: auto;margin-right: 14px;" {{action 'closePanel'}}></i>
    </div> 
  <div class="row">
    <div class="sixteen wide column">
      <div class="field">
        {{t 'components.flexberry-layers-intersections-panel.layers-list'}}
        {{flexberry-multiple-select
          items=vectorLayers
          selectedItems=selectedLayers
          title=('t' _searchFieldsSelectorLabel)
          allowAdditions=true
          isObject=true
        }}
      </div>
    </div>
  </div>   
  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">
          <div class="ui grid">
            <div class="four wide column">
              <div class="field">   
                {{t 'components.flexberry-layers-intersections-panel.square'}}
                {{flexberry-textbox
                  class="fluid"
                  value=square
                }}
              </div>
            </div>
            <div class="four wide column">
              <div class="field">   
                {{t 'components.flexberry-layers-intersections-panel.buffer'}}
                {{flexberry-textbox
                  class="fluid"
                  value=bufferR
                }}                              
              </div>
            </div>
            <div class="four wide column">
              <div class="field">   
                <button type="submit" class="ui button intersect" {{action "findIntersections"}} style="margin-top: 15px">{{t 'components.flexberry-layers-intersections-panel.find-intersection'}}</button>                       
              </div>
            </div>
            <div class="four wide column">
              <div class="field">   
                <button type="submit" class="ui button intersect" {{action "save"}} disabled={{noIntersectionResults}} style="margin-top: 15px">{{t 'components.flexberry-layers-intersections-panel.load-results'}}</button>                   
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row" style="overflow-y: scroll;height: 200px" >
          {{layer-result-list
          results=results
          serviceLayer=serviceLayer
          leafletMap=leafletMap
          intersection=true
          zoomToIntersection=(action 'zoomToIntersection')
        }}
  </div>
</div>