<table class="ui celled table">
  <thead>
    <tr>
      {{#each-in header as |key value|}}
      <th>{{value}}</th>
      {{/each-in}}
    </tr>
  </thead>
  <tbody>
    {{#if model}}
        {{#each model as |row|}}
        <tr>
          {{#each-in header as |key value|}}
            <td>{{get row key}}</td>
          {{/each-in}}
        </tr>
        {{/each}}
    {{else}}
     <tr>
        <td class="center aligned" colspan="{{_columnCount}}">{{t 'flexberry-table.no-data'}}</td>
     </tr>
    {{/if}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="{{_columnCount}}">
        <div class="ui secondary menu no-margin">
          <div class="ui basic buttons">
            <button class="ui {{unless hasPreviousPage 'disabled'}} button" {{action (if this.attrs.previousPage this.attrs.previousPage 'previousPage')}}>
              <i class="prev-page icon"></i>
            </button>
            {{#each pages as |page|}}
              {{#if page.isEllipsis}}
                <button class="ui button">...</button>
              {{else}}
                {{#if page.isCurrent}}
                  <button class="ui active button">
                    {{page.number}}
                  </button>
                {{else}}
                  <button class="ui button" {{action (if this.attrs.gotoPage this.attrs.gotoPage 'gotoPage') page.number}}>
                    {{page.number}}
                  </button>
                {{/if}}
              {{/if}}
            {{/each}}
            <button class="ui {{unless hasNextPage 'disabled'}} button" {{action (if this.attrs.nextPage this.attrs.nextPage 'nextPage')}}>
              <i class="next-page icon"></i>
            </button>
          </div>
          <div class="right menu">
            {{flexberry-dropdown items=perPageValues value=perPageValue class="compact selection" onChange=(action "perPageClick")}}
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
