{{#if rows}}
<table class="ui celled table">
    <thead>
        <tr>
            {{#each-in header as |key value|}}
                <th>{{value}}</th>
            {{/each-in}}
        </tr>
    </thead>
    <tbody>
        {{#each rows as |row|}}
        <tr>
            {{#each-in header as |key value|}}
            <td>{{getField row key}}</td>
            {{/each-in}}
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="{{columnCount}}">
                <div class="ui secondary menu no-margin">
                    <div class="ui basic buttons">
                        <button class="ui {{unless hasPreviousPage 'disabled'}} button" {{action 'previousPage' this.attrs.previousPage}}>&laquo;</button>                        {{#each pages as |page|}} {{#if page.isEllipsis}}
                        <div class="ui button">...</div>
                        {{else}} {{#if page.isCurrent}}
                        <button class="ui active button">{{page.number}}</button> {{else}}
                        <button class="ui button" {{action 'gotoPage' this.attrs.gotoPage page.number}}>{{page.number}}</button>                        {{/if}} {{/if}} {{/each}}
                        <button class="ui {{unless hasNextPage 'disabled'}} button" {{action 'nextPage' this.attrs.nextPage}}>&raquo;</button>
                    </div>
                    <div class="right menu">
                        {{flexberry-dropdown items=perPageValues value=perPageValue class="compact selection" onChange=(action "perPageClick") needChecksOnValue=false}}
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
{{/if}}