<div class={{concat "ui very wide bottom bottompanel pushable tabbar" (if folded " folded" "")}}>
  <button class="bottompanel-tab-nav-button bottompanel-tab-nav-button-left"
    {{action "onTabMove" true}}>
    <i class="left arrow icon"></i>
  </button>
  <div class="bottompanel-tab-nav-panel">
    <div class="ui top attached tabular menu bottompanel-tab-nav-panel-tabs">
      {{#each _tabModels key="name" as |tabModel index|}}
      <a class={{concat "bottompanel tab item"
        (if (eq selectedTabIndex index) " active" "")}} data-tab="{{tabModel.name}}"
        {{action "onTabSelect" index}}>
        {{tabModel.name}}
        <i class="icon close" {{action "closeTab" index bubbles=false}}></i>
      </a>
      {{/each}}
    </div>
  </div>
  <button
    class="bottompanel-tab-nav-button bottompanel-tab-nav-button-right"
    {{action "onTabMove" false}}>
    <i class="right arrow icon"></i>
  </button>

  {{#each _tabModels key="name" as |tabModel index|}}
  <div data-tab="{{tabModel.name}}"
    class={{concat "ui bottom attached tab segment bottompanel-tab-data-panel"
    (if (eq selectedTabIndex index) " active" "")}}>

    {{#flexberry-table
      allowEdit="true"
      perPageAvailable=false
      model=tabModel.propertiesToShow
      header=tabModel.header
      recordsTotalCount=tabModel.properties.length
      getData=(action "onTabGetData" tabModel)}}

      {{#block-slot "head-block"}}
        <div class="bottompanel-tab-head-panel">
          {{flexberry-checkbox
            label=(if tabModel.selectAll (t "components.flexberry-layers-attributes-panel.clear") (t "components.flexberry-layers-attributes-panel.select-all"))
            value=tabModel.selectAll
            onChange=(action "onSelectAllClick" tabModel)
            class=(if (eq tabModel.properties.length 0) "disabled") }}
          <div class="buttons">
            {{flexberry-button
              tooltip=(t "components.flexberry-layers-attributes-panel.select-feature")
              click=(action "onFindItemClick" tabModel)
              iconClass="marker icon"
              readonly=(eq tabModel._selectedRowsCount 0) }}
            {{flexberry-button
              tooltip=(t "components.flexberry-layers-attributes-panel.clear-found")
              click=(action "onClearFoundItemClick")
              iconClass="trash icon"
            }}
            {{flexberry-button
              tooltip=(t "components.flexberry-layers-attributes-panel.delete-selected")
              click=(action "onDeleteItemClick" tabModel)
              iconClass="remove icon"
              readonly=(eq tabModel._selectedRowsCount 0) }}
          </div>
        </div>
      {{/block-slot}}

      {{#block-slot "column-header-head-0"}}
        <th class="narrow">{{t "components.flexberry-layers-attributes-panel.select-item"}}</th>
      {{/block-slot}}

      {{#block-slot "column-cell-head-0" as |row|}}
        <td class="narrow">
        {{flexberry-checkbox
          value=(get tabModel._selectedRows (ember-guid row))
          onChange=(action "onRowSelect" tabModel (ember-guid row)) }}
        </td>
      {{/block-slot}}

    {{/flexberry-table}}
  </div>
  {{/each}}
</div>