{{#flexberry-toggler caption=name}}
  <div class="ui list transition">
    {{#each features as |feature|}}
      <div class="item {{if (eq feature selectedFeature) 'active'}}" >
        <a class="icon item" title="Show info" {{action "showInfo" feature}}>
            <i class="caret {{if expanded 'down' 'right'}} icon"></i>
        </a>
        <a class="icon item" title="Zoom to" {{action "zoomTo" feature}}>
            <i class="marker icon"></i>
        </a>
        <a class="icon item" title="Pan to" {{action "panTo" feature}}>
          <i class="hand paper icon"></i>
        </a>
        <span {{action "selectFeature" feature on="click"}} {{action "zoomTo" feature on="doubleClick"}}>
          {{get feature.properties displayField}}
        </span>
      </div>
    {{/each}}
  </div>
{{/flexberry-toggler}}