{{#if _showLoader}}
  <div class="ui active inline loader"></div>{{t "components.layer-result-list.processing"}}
{{else if _noData}}
  <div class="nodata">
  {{t "components.layer-result-list.nodata"}}
  </div>
{{else}}
  {{#each _displayResults as |result|}}
    <div class="feature-result-item-group">
    {{#if result.isIntersect}}
      <div class="feature-result-item-buttons hidden">
        {{#if (eq intersection false)}}
          <a class="feature-result-item-select icon item"
            title="{{t "components.feature-result-item.select-all-caption"}}"
            {{action "zoomToAll" result}}>
              <i class="icon-guideline-marker"></i>
          </a>
        {{/if}}
        {{#if (gt result.listForms.length 0)}}
          {{#if (eq result.listForms.length 1)}}
          {{#if result.hasListForm}}
            <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
            <i class="dropdown icon"></i>
            {{t "components.layer-result-list.select-list-caption"}}
            <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
              <a class="feature-result-item-list icon item"
              title="{{t "components.layer-result-list.select-list-caption"}}"
              href="{{result.listForms.[0].url}}" target="_blank">
              <i class="icon-guideline-gotolist"></i>
              </a>
              <a class="feature-result-item-list icon item"
              title="{{t "components.layer-result-list.select-list-caption"}}"
              {{action "goToListForm" result.layerModel.id result.layerIds}}>
              <i class="icon-guideline-gotolist"></i>
              </a>
            </div>
            </div>
          {{else}}
            <a class="feature-result-item-list icon item"
              title="{{t "components.layer-result-list.select-list-caption"}}"
              href="{{result.listForms.[0].url}}" target="_blank">
              <i class="icon-guideline-gotolist"></i>
            </a>
          {{/if}}
          {{else}}
          <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
            <i class="dropdown icon"></i>
            {{t "components.layer-result-list.select-list-caption"}}
            <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
              {{#each result.listForms as |listForm|}}
              <a class="feature-result-item-list icon item"
              title="{{listForm.typeName}}"
              href="{{listForm.url}}" target="_blank">
                <i class="icon-guideline-gotolist"></i>
              </a>
              {{/each}}
              {{#if result.hasListForm}}
              <a class="feature-result-item-list icon item"
                title="{{t "components.layer-result-list.select-list-caption"}}"
                {{action "goToListForm" result.layerModel.id result.layerIds}}>
                <i class="icon-guideline-gotolist"></i>
              </a>
              {{/if}}
            </div>
          </div>
          {{/if}}
        {{else}}
          {{#if result.hasListForm}}
          <a class="feature-result-item-list icon item"
            title="{{t "components.layer-result-list.select-list-caption"}}"
            {{action "goToListForm" result.layerModel.id result.layerIds}}>
            <i class="icon-guideline-gotolist"></i>
          </a>
          {{/if}}
        {{/if}}
        {{#if (or (eq result.layerModel.type "wfs") (eq result.layerModel.type "wms-wfs") (eq result.layerModel.type "odata-vector"))}}
          <a class="feature-result-item-upload icon item"
          title="{{t "components.layer-result-list.flexberry-export-caption"}}"
          {{action "upload" result}}>
          <i class="icon-guideline-file-download"></i>
          </a>
        {{/if}}
      </div>
      {{#flexberry-toggler caption=result.name expanded=result.expanded class='layer-result-list-toggler'}}
        <div class="ui list transition {{if result.expanded "visible" "hidden"}}">
          {{#if intersection}}
            {{#each result.features as |feature|}}
              {{#if feature.isIntersect}}
                {{#if (known-for-type 'component' (concat 'feature-result-item-' result.layerModel.type))}}
                  {{component (concat 'feature-result-item-' result.layerModel.type)
                    feature=feature
                    resultObject=result
                    highlightable=enableHighlight
                    clearHighlights=(action "clearHighlights")
                    infoExpanded=(and (eq result.features.length 1) result.first)
                    displayProperty="displayValue"
                    displaySettings=result.settings
                    selectedFeature=_selectedFeature
                    selectFeature=(action "selectFeature")
                    panTo=(action "panTo")
                    zoomTo=(action "zoomTo")
                    clearSelected=(action "clearSelected")
                    findIntersection=(action 'findIntersection')
                    searchSatellites=(action "searchSatellites")
                    intersection=intersection
                    zoomToIntersection=(action 'zoomToIntersection')
                    panToIntersection=panToIntersection
                    editFeature=(action 'editFeature')
                    availableEdit=(and availableEdit (array-contains accessibleData result.layerModel.id))
                }}
                {{else}}
                  {{feature-result-item
                    feature=feature
                    resultObject=result
                    highlightable=enableHighlight
                    clearHighlights=(action "clearHighlights")
                    infoExpanded=(and (eq result.features.length 1) result.first)
                    displayProperty="displayValue"
                    displaySettings=result.settings
                    selectedFeature=_selectedFeature
                    selectFeature=(action "selectFeature")
                    panTo=(action "panTo")
                    zoomTo=(action "zoomTo")
                    clearSelected=(action "clearSelected")
                    findIntersection=(action 'findIntersection')
                    searchSatellites=(action "searchSatellites")
                    intersection=intersection
                    zoomToIntersection=(action 'zoomToIntersection')
                    panToIntersection=panToIntersection
                    editFeature=(action 'editFeature')
                    availableEdit=(and availableEdit (array-contains accessibleData result.layerModel.id))
                  }}
                {{/if}}
              {{/if}}
            {{/each}}
          {{/if}}
        </div>
      {{/flexberry-toggler}}
    {{/if}}
    {{#if (not intersection)}}
      <div class="feature-result-item-buttons hidden">
        <a class="feature-result-item-select icon item"
          title="{{t "components.feature-result-item.select-all-caption"}}"
          {{action "zoomToAll" result}}>
          {{#if (eq intersection false)}}
          <i class="icon-guideline-marker"></i>
          {{/if}}
        </a>
        {{#if (gt result.listForms.length 0)}}
          {{#if (eq result.listForms.length 1)}}
          {{#if result.hasListForm}}
            <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
            <i class="dropdown icon"></i>
            {{t "components.layer-result-list.select-list-caption"}}
            <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
              <a class="feature-result-item-list icon item"
              title="{{t "components.layer-result-list.select-list-caption"}}"
              href="{{result.listForms.[0].url}}" target="_blank">
              <i class="icon-guideline-gotolist"></i>
              </a>
              <a class="feature-result-item-list icon item"
              title="{{t "components.layer-result-list.select-list-caption"}}"
              {{action "goToListForm" result.layerModel.id result.layerIds}}>
              <i class="icon-guideline-gotolist"></i>
              </a>
            </div>
            </div>
          {{else}}
            <a class="feature-result-item-list icon item"
            title="{{t "components.layer-result-list.select-list-caption"}}"
            href="{{result.listForms.[0].url}}" target="_blank">
            <i class="icon-guideline-gotolist"></i>
            </a>
          {{/if}}
          {{else}}
          <div class="ui dropdown item" {{action "toggleLinks" on="click"}}>
            <i class="dropdown icon"></i>
            {{t "components.layer-result-list.select-list-caption"}}
            <div class="ui menu transition {{if _linksExpanded "visible" "hidden"}}">
              {{#each result.listForms as |listForm|}}
              <a class="feature-result-item-list icon item"
              title="{{listForm.typeName}}"
              href="{{listForm.url}}" target="_blank">
                <i class="icon-guideline-gotolist"></i>
              </a>
              {{/each}}
              {{#if result.hasListForm}}
              <a class="feature-result-item-list icon item"
                title="{{t "components.layer-result-list.select-list-caption"}}"
                {{action "goToListForm" result.layerModel.id result.layerIds}}>
                <i class="icon-guideline-gotolist"></i>
              </a>
              {{/if}}
            </div>
          </div>
          {{/if}}
        {{else}}
          {{#if result.hasListForm}}
          <a class="feature-result-item-list icon item"
            title="{{t "components.layer-result-list.select-list-caption"}}"
            {{action "goToListForm" result.layerModel.id result.layerIds}}>
            <i class="icon-guideline-gotolist"></i>
          </a>
          {{/if}}
        {{/if}}
        {{#if (or (eq result.layerModel.type "wfs") (eq result.layerModel.type "wms-wfs") (eq result.layerModel.type "odata-vector"))}}
          <a class="feature-result-item-upload icon item"
          title="{{t "components.layer-result-list.flexberry-export-caption"}}"
          {{action "upload" result}}>
          <i class="icon-guideline-file-download"></i>
          </a>
        {{/if}}
      </div>
      {{#flexberry-toggler caption=result.name expanded=result.expanded class='layer-result-list-toggler'}}
        <div class="ui list transition {{if result.expanded "visible" "hidden"}}">
          {{#each result.features as |feature|}}
            {{#if (known-for-type 'component' (concat 'feature-result-item-' result.layerModel.type))}}
            {{component (concat 'feature-result-item-' result.layerModel.type)
                feature=feature
                resultObject=result
                displayProperty="displayValue"
                highlightable=enableHighlight
                clearHighlights=(action "clearHighlights")
                displaySettings=result.settings
                selectedFeature=_selectedFeature
                selectFeature=(action "selectFeature")
                panTo=(action "panTo")
                zoomTo=(action "zoomTo")
                clearSelected=(action "clearSelected")
                findIntersection=(action 'findIntersection')
                searchSatellites=(action "searchSatellites")
                intersection=intersection
                zoomToIntersection=(action 'zoomToIntersection')
                panToIntersection=panToIntersection
                favoriteMode=favoriteMode
                allowFavorite=allowFavorite
                addToFavorite=(action 'addToFavorite')
                addToCompareGeometries=(action 'addToCompareGeometries')
                editFeature=(action 'editFeature')
                availableEdit=(and availableEdit (array-contains accessibleData result.layerModel.id))
            }}
            {{else}}
              {{feature-result-item
                feature=feature
                resultObject=result
                displayProperty="displayValue"
                displaySettings=result.settings
                highlightable=enableHighlight
                clearHighlights=(action "clearHighlights")
                selectedFeature=_selectedFeature
                selectFeature=(action "selectFeature")
                panTo=(action "panTo")
                zoomTo=(action "zoomTo")
                clearSelected=(action "clearSelected")
                findIntersection=(action 'findIntersection')
                searchSatellites=(action "searchSatellites")
                intersection=intersection
                zoomToIntersection=(action 'zoomToIntersection')
                panToIntersection=panToIntersection
                favoriteMode=favoriteMode
                allowFavorite=allowFavorite
                addToFavorite=(action 'addToFavorite')
                addToCompareGeometries=(action 'addToCompareGeometries')
                editFeature=(action 'editFeature')
                availableEdit=(and availableEdit (array-contains accessibleData result.layerModel.id))
              }}
            {{/if}}
          {{/each}}
          {{#if result.maxResultsLimitOverage}}
            <div class="max-limit">
              Найдено более {{maxResultsCount}} объектов по запросу. Пожалуйста, уточните поисковый запрос
            </div>
          {{/if}}
        </div>
      {{/flexberry-toggler}}
    {{/if}}
    </div>
  {{/each}}
  {{feature-export
    visible=exportDialogVisible
    result=exportResult
    availableCRS=availableCRS
  }}
{{/if}}

