<div class="bookmark-block">
  <div class="bookmark-header">
    {{flexberry-button
      tooltip=(t "components.spatial-bookmarks.add-bookmark")
      caption=(t "components.spatial-bookmarks.add-bookmark")
      iconClass="add icon"
      class="primary create-bookmark"
      click=(action "showAddBlock")
    }}
  </div>

  {{#if _addBookmarkInProcess}}
    <div class="bmrk-add-block">
      {{flexberry-textbox
        value=_addBookmarkName
        placeholder=""
      }}
      <div class="bmrk-add-block-buttons">
        {{flexberry-button
          tooltip=(t "components.spatial-bookmarks.create-bookmark")
          iconClass="icon-guideline-check"
          class="icon item"
          click=(action "addBookmark")
        }}
        {{flexberry-button
          tooltip=(t "components.spatial-bookmarks.cancel")
          iconClass="icon-guideline-delete-r"
          class="icon item"
          click=(action "resetBookmark")
        }}
      </div>
    </div>
  {{/if}}
  <div class="bookmarks">
    {{#each bookmarks as |bkmrk|}}
      <div class="bookmark-item">
        <div class="bookmark-item-title">{{bkmrk.name}}</div>
        <div class="bookmark-item-buttons">
          <button class="ui button icon" title="{{ t "components.spatial-bookmarks.go-to-bookmark" }}" {{action "zoomMap" bkmrk}}>
            <i class="icon-guideline-marker"></i>
          </button>
          <button class="ui button icon" title="{{ t "components.spatial-bookmarks.remove-bookmark" }}" {{action "delBookmark" bkmrk}}>
            <i class="icon-guideline-delete-r"></i>
          </button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
