<div class="ui grid  {{if _leafletObjectIsLoading "loading"}}">
  <div class="row">
    <div class="column">
      <div class="field">
        <label>{{t dateFormatLabel}}</label>
        {{flexberry-textbox
          value=value.dateFormat
          placeholder=(t dateFormatPlaceholder)
          class=dateFormatClass
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="field">
        {{flexberry-checkbox
          value=value.featuresPropertiesSettings.displayPropertyIsCallback
          label=(t displayPropertyIsCallbackLabel)
          class=displayPropertyIsCallbackClass
          change=(action "checkboxDidChange")
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="field">
        <label>{{t displayPropertyLabel}}</label>
        {{#if value.featuresPropertiesSettings.displayPropertyIsCallback}}
          {{flexberry-textbox
            value=value.featuresPropertiesSettings.displayProperty
            placeholder=(t displayPropertyPlaceholder)
            class=displayPropertyClass
          }}
        {{else}}
        {{flexberry-dropdown
          items=allProperties
          value=value.featuresPropertiesSettings.displayProperty
          placeholder=(t displayPropertyLabel)
        }}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="field">
        {{flexberry-multiple-select
          items=allProperties
          selectedItems=value.featuresPropertiesSettings.excludedProperties
          title=('t' excludedPropertiesLabel)
          allowAdditions=excludedPropertiesAllowAdditions
        }}
      </div>
    </div>
  </div>
   <div class="equal width row">
    <div class="column">
      <div class="field">
        <label>{{t propertiesListHeading}}</label>
        <div class="ui selection list">
          {{#each allProperties as |property|}}
            <div class="item {{if (eq _selectedProperty property) "active"}}" {{action "onPropertySelected" property}}>
              <div class="content">
                {{property}}
              </div>
            </div>
          {{else}}
            <div class="item">
              {{t noItemsAvaliableLabel}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label>{{t localesListHeading}}</label>
        <div class="ui selection list">
          {{#each allLocales as |locale|}}
            <div class="item {{if (eq _selectedLocale locale) "active"}}" {{action "onLocaleSelected" locale}}>
              <div class="content">
                {{locale}}
              </div>
            </div>
          {{else}}
            <div class="item">
              {{t noItemsAvaliableLabel}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label>{{t translationLabel}}</label>
        {{flexberry-textbox
          value=_translationString
          readonly=isNotSelected
          placeholder=(t translationPlaceholder)
        }}
      </div>
      <div class="field">
        {{flexberry-button
          caption=(t applyButtonLabel)
          readonly=isNotSelected
          click=(action "onButtonClick")
        }}
      </div>
    </div>
  </div>
</div>