<div class="ui grid  {{if _leafletObjectIsLoading "loading"}}">
  <div class="row">
    <div class="column">
      <label>{{t dateFormatLabel}}</label>
      {{flexberry-textbox
        value=value.dateFormat
        placeholder=dateFormatPlaceholder
        readonly=dateFormatReadonly
        class=dateFormatClass
      }}
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{flexberry-checkbox
        value=value.featuresPropertiesSettings.displayPropertyIsCallback
        label=(t displayPropertyIsCallbackLabel)
        readonly=displayPropertyIsCallbackReadonly
        class=displayPropertyIsCallbackClass
      }}
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label>{{t displayPropertyLabel}}</label>
      {{flexberry-textbox
        value=value.featuresPropertiesSettings.displayProperty
        placeholder=displayPropertyPlaceholder
        readonly=displayPropertyReadonly
        class=displayPropertyClass
      }}
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{flexberry-multiple-select
        items=allProperties
        selectedItems=value.featuresPropertiesSettings.excludedProperties
        title=('t' excludedPropertiesLabel)
        allowAdditions=excludedPropertiesAllowAdditions
      }}
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      <label>{{t listHeadingLabel}}</label>
      <div class="ui selection list">
        {{#each allProperties as |property|}}
          <div class="item {{if (eq _selectedProperty.key property) "active"}}" {{action "onPropertySelected" property}}>
            <div class="content">
              {{property}}
            </div>
          </div>
        {{else}}
          <div class="item">
            {{t noItemsAvaliableLabel}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="eight wide column">
      <div class="field">
        <label>{{t ruTranslationLabel}}</label>
        {{flexberry-textbox
          value=_selectedProperty.ru
          readonly=isNotSelected
          placeholder=(t ruTranslationPlaceholder)
        }}
      </div>
      <div class="field">
        <label>{{t enTranslationLabel}}</label>
        {{flexberry-textbox
          value=_selectedProperty.en
          readonly=isNotSelected
          placeholder=(t enTranslationPlaceholder)
        }}
      </div>
      <div class="field">
        {{flexberry-button
          caption=(t applyButtonLabel)
          readonly=isNotSelected
          click=(action "onButtonClick")
        }}
      </div>
    </div>
  </div>
</div>
