<div class="ui attached message">
  <div class="header">
    {{t "gis-search-form.header"}}
  </div>
  <p>{{t "gis-search-form.subheader"}}</p>
</div>
<div class="ui form attached fluid segment">
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column">
        <div class="ui container segment">
          <div class="ui top attached label">
            {{t "gis-search-form.object"}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.keywords"}}</label>
            {{flexberry-textbox value=searchConditions.keyWords}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.scale"}}</label>
            {{flexberry-textbox value=searchConditions.scaleFrom}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui container segment">
          <div class="ui top attached label">
            {{t "gis-search-form.position"}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.min-long"}}</label>
            {{flexberry-textbox value=searchConditions.minLng}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.min-lat"}}</label>
            {{flexberry-textbox value=searchConditions.minLat}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.max-long"}}</label>
            {{flexberry-textbox value=searchConditions.maxLng}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.max-lat"}}</label>
            {{flexberry-textbox value=searchConditions.maxLat}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seven wide column"></div>
      <div class="two wide column">
        <button class="ui labeled icon blue button" {{action "getSearchResults" on="click"}}>
          <i class="search icon"></i>
          {{t "gis-search-form.search"}}
        </button>
      </div>
      <div class="seven wide column"></div>
    </div>
    <div class="row">
      <div class="ui top attached label">{{t "gis-search-form.results"}}</div>
      <div class="sixteen wide column">
        <div class="ui top attached fluid tabular menu">
          <a
            class="tab item {{if (eq _tabularMenuActiveTab "layer-metadata") "active "}}"
            data-tab="layer-metadata"
            title="Метаданные слоёв">
            Метаданные слоёв
          </a>
          <a
            class="tab item {{if (eq _tabularMenuActiveTab "maps") "active "}}"
            data-tab="maps"
            title="Карты">
            Карты
          </a>
        </div>
        <div
          class="ui bottom attached tab segment {{if (eq _tabularMenuActiveTab "layer-metadata") "active"}}"
          data-tab="layer-metadata">
            {{flexberry-table
              model=model.metadata
              getData=(action "getData")
              modelName='new-platform-flexberry-g-i-s-layer-metadata'
              projectionName='LayerMetadataL'
              header=model.metadataHeader }}
        </div>
        <div
          class="ui bottom attached tab segment {{if (eq _tabularMenuActiveTab "maps") "active"}}"
          data-tab="maps">
            {{flexberry-table
              model=model.maps
              getData=(action "getData")
              modelName='new-platform-flexberry-g-i-s-map'
              projectionName='MapL'
              header=model.mapHeader }}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}