{{#flexberry-dialog class=(concat class " " flexberryClassNames.prefix)
  caption=caption
  approveButtonCaption=approveButtonCaption
  denyButtonCaption=denyButtonCaption
  visible=visible
  beforeShow=(action "onBeforeShow")
  beforeHide=(action "onBeforeHide")
  show=(action "onShow")
  hide=(action "onHide")
  approve=(action "onApprove")
  deny=(action "onDeny")
}}
{{ui-message
  type="error"
  closeable=true
  visible=_showErrorMessage
  caption=errorMessageCaption
  message=errorMessageContent
  onShow=(action "onErrorMessageShow")
  onHide=(action "onErrorMessageHide")
}}
<form class="ui form" role="form">
  <div class="field">
    <label>
      {{modeDropdownCaption}}
    </label>
    {{flexberry-dropdown
      class="fluid"
      items=_availableModes
      value=_selectedMode
    }}
  </div>
  <div class="field">
    <label>
      {{#if _latlngCrsModeIsSelected}}
        {{latTextboxCaption}}
      {{else}}
        {{xTextboxCaption}}
      {{/if}}
    </label>
    {{flexberry-textbox
      class="fluid"
      value=_options.x
    }}
  </div>
  <div class="field">
    <label>
      {{#if _latlngCrsModeIsSelected}}
        {{lngTextboxCaption}}
      {{else}}
        {{yTextboxCaption}}
      {{/if}}
    </label>
    {{flexberry-textbox
      class="fluid"
      value=_options.y
    }}
  </div>
</form>
{{/flexberry-dialog}}
