<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-osm-ru.query-string-textbox.caption"}}
  </label>
  {{flexberry-search
    class="fluid"
    dynamicProperties=(flexberry-search-properties-osm-ru _autocompleteUrl)
    value=settings.queryString
  }}
</div>
<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-osm-ru.search-type-dropdown.caption"}}
  </label>
  {{flexberry-dropdown
    class="fluid"
    items=(array "all" "addr" "poi")
    value=settings.searchType
  }}
</div>
<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-osm-ru.max-results-count-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.maxResultsCount
  }}
</div>
