<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-yandex.query-string-textbox.caption"}}
  </label>
  {{!--{{flexberry-search
    class="fluid"
    minCharacters=3
    apiSettings=(hash
      url=_autocompleteUrl
    )
    fields=(hash
      results='matches'
      title='display_name'
    )
    value=settings.queryString
  }}--}}
  {{flexberry-textbox
    class="fluid"
    value=settings.queryString
  }}
</div>
<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-yandex.max-results-count-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.maxResultsCount
  }}
</div>
<div class="field">
  <label>
    {{t "components.map-commands-dialogs.search-settings.geocoder-yandex.skip-results-count-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.skipResultsCount
  }}
</div>
