<div class="field">
  <label>
    Заголовок диаграммы
  </label>
{{flexberry-textbox
  value=_captionChart
}}
</div>
<div class="field">
  <label>
    Наименование
  </label>
{{flexberry-dropdown
  items=_captionSeries
  value=_val1
}}
</div>
<div class="field">
  <label>
    Значения
  </label>
{{flexberry-dropdown
  items=_valueSeries
  value=_val2
}}
</div>
<div class="{{concat "ui eight wide column" " " flexberryClassNames.layersOptions}}">
  {{flexberry-button
    caption="Загрузить данные о слое"
    click=(action "onLoad")
  }}
  {{flexberry-button
    caption="Сформировать диаграмму"
    click=(action "onClick")
  }}
</div>

<div class="container111111111" style="width:100%; height:400px;">

</div>
