<div class="ui grid">
  <div class="ten wide column">
    {{#flexberry-maptoolbar leafletMap=leafletMap as |toolbar|}}
      <div class="ui icon buttons">
        <button class="ui icon button" {{action "activateTool" "dragging" target=toolbar}}>
          <i class="hand paper icon"></i>
        </button>
        <button class="ui icon button" {{action "activateTool" "zoom" target=toolbar}}>
          <i class="zoom icon"></i>
        </button>
        <button class="ui icon button" {{action "activateTool" "zoomout" target=toolbar}}>
          <i class="zoom out icon"></i>
        </button>
        <button class="ui icon button" {{action "callCommand" "fullextent" target=toolbar}}>
          <i class="maximize icon"></i>
        </button>
      </div>
      <div class="ui icon buttons">
        <button class="ui icon button" {{action "activateTool" "identify" target=toolbar}}>
          <i class="info circle icon"></i>
        </button>
      </div>
      <div class='ui compact menu toolbar-menu'>
        <div class='ui simple dropdown item toolbar-dropdown'>
          <i class='wizard icon'></i>{{t "components.flexberry-maptoolbar.measureCaption"}}
          <div class='menu abovemap'>
            <a class='item' {{action "activateTool" "coordinatemeasuretool" target=toolbar}}><i class='marker icon'></i>{{t "components.flexberry-maptoolbar.mearkerMeasure"}}</a>
            <a class='item' {{action "activateTool" "radiusmeasuretool" target=toolbar}}><i class='circle icon'></i>{{t "components.flexberry-maptoolbar.circleMeasure"}}</a>
            <a class='item' {{action "activateTool" "distancemeasuretool" target=toolbar}}><i class='empty star icon'></i>{{t "components.flexberry-maptoolbar.polylineMeasure"}}</a>
            <a class='item' {{action "activateTool" "areameasuretool" target=toolbar}}><i class='star icon'></i>{{t "components.flexberry-maptoolbar.polygonMeasure"}}</a>
          </div>
        </div>
      </div>
    {{/flexberry-maptoolbar}}
    {{#flexberry-map
      lat=model.lat
      lng=model.lng
      zoom=model.zoom
      onMoveend=(action "updateCenter")
      leafletMapDidInit=(action "leafletMapDidInit") as |leafletMap|}}
      {{flexberry-layers leafletContainer=leafletMap layers=model.rootLayer.layers}}

      {{scale-control map=leafletMap imperial=false}}
    {{/flexberry-map}}



  </div>
  <div class="six wide column">
    {{flexberry-maplayers
      class="styled"
      layers=(get-with-dynamic-actions this "model.rootLayer.layers"
        hierarchyPropertyName="layers"
        pathKeyword="layerPath"
        dynamicActions=(array
          (hash
            on="add"
            actionName="onMapLayerAdd"
            actionArguments=(array "{% layerPath %}")
          )
          (hash
            on="edit"
            actionName="onMapLayerEdit"
            actionArguments=(array "{% layerPath %}")
          )
          (hash
            on="remove"
            actionName="onMapLayerRemove"
            actionArguments=(array "{% layerPath %}")
          )
          (hash
            on="changeVisibility"
            actionName="onMapLayerChangeVisibility"
            actionArguments=(array "{% layerPath %}.visibility")
          )
        )
      )
      add=(action "onMapLayerAdd" "model.rootLayer")
    }}
    <br>
    lat: {{flexberry-field value=model.lat}}
    lng: {{flexberry-field value=model.lng}}
    zoom: {{flexberry-field value=model.zoom}}
  </div>
</div>
