<h3 class="ui header">{{t "forms.map.caption"}}</h3>
{{ui-message
  type="success"
  closeable=true
  visible=showFormSuccessMessage
  caption=formSuccessMessageCaption
  message=formSuccessMessage
}}
{{ui-message
  type="error"
  closeable=true
  visible=showFormErrorMessage
  caption=formErrorMessageCaption
  message=formErrorMessage
}}
<div class="field">
  <div class="flexberry-edit-panel">
    {{#unless readonly}}
      {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
        <button type="submit" class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
      {{/unless}}
      {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
        <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>
          {{t "forms.edit-form.saveAndClose-button-text"}}
        </button>
      {{/unless}}
      {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
        <button type="submit" class="ui button save-del-button" {{action "delete"}}>
          {{t "forms.edit-form.delete-button-text"}}
        </button>
      {{/unless}}
    {{/unless}}
    <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}</button>
  </div>
</div>
<div class="ui {{formState}} form flexberry-vertical-form">
  <div class="sidebar-wrapper">
    {{flexberry-tab-bar
      change=(action 'toggleSidebar')
      items=sidebarItems
    }}
    <div class="ui very wide right sidebar pushable tabbar">
      <div data-tab="treeview" class="ui tab treeview">
          <h3>Список слоёв</h3>
          {{#if _showTree}}
            {{flexberry-maplayers
              class="styled"
              cswConnections=cswConnections
              leafletMap=leafletMap
              layers=(get-with-dynamic-actions this "model.hierarchy"
                hierarchyPropertyName="layers"
                pathKeyword="layerPath"
                dynamicActions=(array
                  (hash
                    on="add"
                    actionName="onMapLayerAdd"
                    actionArguments=(array "{% layerPath %}")
                  )
                  (hash
                    on="edit"
                    actionName="onMapLayerEdit"
                    actionArguments=(array "{% layerPath %}")
                  )
                  (hash
                    on="remove"
                    actionName="onMapLayerRemove"
                    actionArguments=(array "{% layerPath %}")
                  )
                  (hash
                    on="changeVisibility"
                    actionName="onMapLayerChangeVisibility"
                    actionArguments=(array "{% layerPath %}.visibility")
                  )
                  (hash
                    on="changeOpacity"
                    actionName="onMapLayerChangeOpacity"
                    actionArguments=(array "{% layerPath %}.settingsAsObject.opacity")
                  )
                )
              )
            add=(action "onMapLayerAdd" "model.hierarchy")
            }}
          {{else}}
            <div class="ui form loading" style="height: 100%;">
            </div>
          {{/if}}
      </div>
      <div data-tab="search" class="ui tab search">
        <h3>Поиск</h3>
        {{flexberry-search-panel
          querySearch=(action "querySearch")
          clearSearch=(action "clearSearch")
          searchInProcess=searchInProcess
          searchSettings=(flexberry-search-properties-osm-ru "http://openstreetmap.ru/api/autocomplete?q={query}")
        }}
        {{layer-result-list
          results=searchResults
          featureSelected=(action 'onLayerFeatureSelected')
          serviceLayer=serviceLayer
          leafletMap=leafletMap
        }}
      </div>
      <div data-tab="identify" class="ui tab identify">
        <h3>Идентификация</h3>
        {{flexberry-identify-panel
          leafletMap=leafletMap
          layerMode=identifyLayersOption
          toolMode=identifyToolOption
          identificationFinished=(action 'onIdentificationFinished')
          clear=(action 'clearIdentification')
        }}
        {{layer-result-list
          results=identifyResults
          serviceLayer=serviceLayer
          featureSelected=(action 'onLayerFeatureSelected')
          leafletMap=leafletMap
        }}
      </div>
      <div data-tab="bookmarks" class="ui tab bookmarks">
        <h3>Пространственные закладки</h3>
        {{spatial-bookmark
          leafletMap=leafletMap
          mapid=model.id
        }}
      </div>
    </div>
   </div>
   <div class="row">
    <div class="sixteen wide column">
      {{#flexberry-maptoolbar
        leafletMap=leafletMap
        layers=model.hierarchy as |mapToolbar|
      }}
        {{map-commands/full-extent
          execute=(action "onMapCommandExecute" target=mapToolbar)
          lat=model.lat
          lng=model.lng
          zoom=model.zoom
        }}
        {{scale-control map=leafletMap imperial=false}}
        {{history-control map=leafletMap}}
        {{map-tools/drag activate=(action "onMapToolActivate" target=mapToolbar)}}
        {{map-tools/zoom-in activate=(action "onMapToolActivate" target=mapToolbar)}}
        {{map-tools/zoom-out activate=(action "onMapToolActivate" target=mapToolbar)}}
        {{map-tools/identify
          activate=(action "onMapToolActivate" target=mapToolbar)
          layerMode=identifyLayersOption
          toolMode=identifyToolOption
          leafletMap=leafletMap
        }}
        {{map-commands/go-to
          tooltip="Перейти к координатам"
          availableCRS=availableCRS
          execute=(action "onMapCommandExecute" target=mapToolbar)}}
        {{map-commands/search execute=(action "onMapCommandExecute" target=mapToolbar)}}
        {{map-tools/measure activate=(action "onMapToolActivate" target=mapToolbar)}}
        {{map-tools/draw activate=(action "onMapToolActivate" target=mapToolbar)}}
        {{map-commands/export
          timeout=30000
          defaultMapCaption=model.name
          execute=(action "onMapCommandExecute" target=mapToolbar)
          iconClass="external share icon"
        }}
      {{/flexberry-maptoolbar}}
    </div>
   </div>
  <div class="mappanel">
    <div class="pusher">
      {{#flexberry-map
        zoomSnap=1
        zoomDelta=1
        lat=model.lat
        lng=model.lng
        zoom=model.zoom
        zoomControl=true
        queryFilter=queryFilter
        mapObjectSetting=setting
        leafletInit=(action "onMapLeafletInit" "leafletMap")
        serviceLayerInit=(action "onServiceLayerInit" "serviceLayer")
        leafletDestroy=(action "onMapLeafletDestroy" "leafletMap")
        moveend=(action "onMapMoveend" "model.lat" "model.lng")
        zoomend=(action "onMapZoomend" "model.zoom")
      }}
        {{flexberry-layers
            leafletMap=leafletMap
            leafletContainer=leafletMap
            layers=model.hierarchy
        }}
        {{switch-scale-control
          map=leafletMap
          updateWhenIdle=true
          scales=_scales
        }}
        {{#minimap-control
          minimized=true
          map=leafletMap as |groupLayers|
        }}
          {{flexberry-layers
            leafletContainer=groupLayers
            layers=model.hierarchy
            forMinimap=true
          }}
        {{/minimap-control}}
      {{/flexberry-map}}
    </div>
  </div>
</div>
