<div class="ui grid">
  <div class="twelve wide column">
    {{#flexberry-maptoolbar leafletMap=leafletMap as |toolbar|}}
      <div class="ui icon buttons">
        <button class="ui icon button" {{action "activateTool" "dragging" target=toolbar}}>
          <i class="hand paper icon"></i>
        </button>
        <button class="ui icon button" {{action "activateTool" "zoom" target=toolbar}}>
          <i class="zoom icon"></i>
        </button>
        <button class="ui icon button" {{action "activateTool" "zoomout" target=toolbar}}>
          <i class="zoom out icon"></i>
        </button>
        <button class="ui icon button" {{action "callCommand" "fullextent" target=toolbar}}>
          <i class="maximize icon"></i>
        </button>
      </div>
      <div class="ui icon buttons">
        <button class="ui icon button" {{action "activateTool" "identify" target=toolbar}}>
          <i class="info circle icon"></i>
        </button>
      </div>
    {{/flexberry-maptoolbar}}
    {{#flexberry-map
      lat=model.lat
      lng=model.lng
      zoom=model.zoom
      zoomControl=true
      onMoveend=(action "updateCenter")
      leafletMapDidInit=(action "leafletMapDidInit") as |leafletMap|}}
      {{flexberry-layers leafletContainer=leafletMap layers=model.layers}}

      {{scale-control map=leafletMap imperial=false}}
    {{/flexberry-map}}



  </div>
  <div class="four wide column">
    {{layers-tree layers=model.layers}}<br>
    lat: {{flexberry-field value=model.lat}}
    lng: {{flexberry-field value=model.lng}}
    zoom: {{flexberry-field value=model.zoom}}
  </div>
</div>