<div class="ui grid">
  <div class="twelve wide column">
    {{flexberry-map
      lat=model.lat
      lng=model.lng
      zoom=model.zoom
      layers=model.layers
      zoomControl=true
      onMoveend=(action "updateCenter")
      leafletMapDidInit=(action "leafletMapDidInit")}}

    {{scale-control map=leafletMap imperial=false}}

  </div>
  <div class="four wide column">
    {{flexberry-maplayers
      exclusive=false
      collapsible=true
      animateChildren=false
      layers=(get-with-dynamic-actions this "model.layers"
        hierarchyPropertyName="layers"
        dynamicActions=(array
          (hash
            on="changeVisibility"
            actionName="onMapLayerChangeVisibility"
            actionArguments=(array "{% propertyPath %}.visibility")
          )
        )
      )}}<br>
    lat: {{flexberry-field value=model.lat}}
    lng: {{flexberry-field value=model.lng}}
    zoom: {{flexberry-field value=model.zoom}}
  </div>
</div>