<h3 class="ui header">{{t "forms.map.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}--></button>
    </div>
  </div>
  {{flexberry-search-panel
    querySearch=(action "querySearch")
    clearSearch=(action "clearSearch")
    leafletMap=leafletMap
    layers=model.hierarchy
    searchInProcess=searchInProcess
    maxResultsCount=10
    attrVisible=attrVisible
    isSearch=isSearch
    class="outer-search"
    searchSettings=(flexberry-search-properties-osm-ru "http://openstreetmap.ru/api/autocomplete?q={query}")
    attrSearch=(action "attrSearch")
    placeholder=placeholderSearch
  }}
  <div class="sidebar-wrapper">
    {{flexberry-tab-bar
      class="main-map-tab-bar"
      change=(action "toggleSidebar")
      items=_sidebarFiltered
    }}
    <div class="ui very wide right sidebar pushable tabbar">
      <div data-tab="treeview" class="ui tab treeview">
        <h3>{{t "forms.map.tabbar.treeview.caption"}}</h3>
        {{#if showTree}}
          {{flexberry-maplayers
            class="styled"
            access=(hash
              accessibleModel=access.mapLayerModel
              accessibleData=access.mapLayerData
              createAccess=true
              presenceLayerInGeoportal=access.presenceLayerInGeoportal)
            leafletMap=leafletMap
            sideBySide=sideBySide
            layers=(get-with-dynamic-actions this "model.otherLayers"
              hierarchyPropertyName="layers"
              pathKeyword="layerPath"
              dynamicActions=(array
                (hash
                  on="add"
                  actionName="onMapLayerAdd"
                  actionArguments=(array "{% layerPath %}")
                )
                (hash
                  on="copy"
                  actionName="onMapLayerCopy"
                  actionArguments=(array "model.otherLayers")
                )
                (hash
                  on="edit"
                  actionName="onMapLayerEdit"
                  actionArguments=(array "{% layerPath %}")
                )
                (hash
                  on="remove"
                  actionName="onMapLayerRemove"
                  actionArguments=(array "{% layerPath %}")
                )
                (hash
                  on="changeVisibility"
                  actionName="onMapLayerChangeVisibility"
                  actionArguments=(array "{% layerPath %}.visibility")
                )
                (hash
                  on="changeOpacity"
                  actionName="onMapLayerChangeOpacity"
                  actionArguments=(array "{% layerPath %}.settingsAsObject.opacity")
                )
                (hash
                  on="fitBounds"
                  actionName="onMapLayerFitBounds"
                  actionArguments=(array "{% layerPath %}.bounds")
                )
                (hash
                  on="attributesEdit"
                  actionName="onAttributesEdit"
                  actionArguments=(array "{% layerPath %}"
                    (hash
                      itemsPath="editedLayers"
                      selectedTabIndexPath="editedLayersSelectedTabIndex"
                      foldedPath="editedLayersPanelFolded"
                      loadingPath="editedLayersPanelLoading"
                    )
                  )
                )
                (hash
                  on="featureEdit"
                  actionName="onFeatureEdit"
                  actionArguments=(array "{% layerPath %}"
                    (hash
                      mapAction="onCreateOrEditFeature"
                      loadingPath="editedLayersPanelLoading"
                    )
                  )
                )
                (hash
                  on="onLoad"
                  actionName="onLoad"
                  actionArguments=(array "{% layerPath %}")
                )
              )
            )
            add=(action "onMapLayerAdd" "model.hierarchy")
          }}
        {{else}}
          <div class="ui form loading" style="height: 100%;">
          </div>
        {{/if}}
      </div>
      <div data-tab="search" class="ui tab search">
        <h3>{{t "forms.map.tabbar.search.caption"}}</h3>
        {{#if (gt searchResults.length 0)}}
          <h5>{{t "components.flexberry-search.result-caption"}}</h5>
        {{/if}}
        {{layer-result-list
          results=searchResults
          serviceLayer=serviceLayer
          leafletMap=leafletMap
          serviceRenderer=serviceRenderer
          showIntersectionPanel=(action 'onIntersectionPanel')
          featureSelected=(action "onLayerFeatureSelected")
          addToFavorite=(action "addToFavorite")
          editFeature=(action 'onCreateOrEditFeature')
          availableEdit=true
          accessibleData=access.mapLayerData
        }}
      </div>
      <div data-tab="identify" class="ui tab identify">
        <h3>{{t "forms.map.tabbar.identify.caption"}}</h3>
        {{flexberry-identify-panel
          layerMode=identifyToolLayerMode
          toolMode=identifyToolToolMode
          bufferActive=identifyToolBufferActive
          bufferUnits=identifyToolBufferUnits
          bufferRadius=identifyToolBufferRadius
          layers=model.hierarchy
          leafletMap=leafletMap
          identificationFinished=(action "onIdentificationFinished")
          identificationClear=(action "onIdentificationClear")
        }}
        {{layer-result-list
          results=identifyToolResults
          serviceLayer=serviceLayer
          leafletMap=leafletMap
          serviceRenderer=serviceRenderer
          showIntersectionPanel=(action 'onIntersectionPanel')
          featureSelected=(action "onLayerFeatureSelected")
          addToFavorite=(action "addToFavorite")
          availableCRS=availableCRS
          editFeature=(action 'onCreateOrEditFeature')
          availableEdit=true
          accessibleData=access.mapLayerData
        }}
      </div>
      <div data-tab="bookmarks" class="ui tab bookmarks">
        <h3>{{t "forms.map.tabbar.bookmarks.caption"}}</h3>
        {{spatial-bookmark
          leafletMap=leafletMap
          storageKey=model.id
        }}
      </div>
      <div data-tab="createObject" class="ui tab createObject">
      <h3>{{t "forms.map.tabbar.createObject.caption"}}</h3>
      {{#each createItems as |createItem|}}
        {{flexberry-create-object-geometry
          createItem=createItem
          leafletMap=leafletMap
        }}
      {{/each}}
      </div>
      <div data-tab="favorites" class="ui tab bookmarks">
        <h3>{{t "forms.map.tabbar.favorites.caption"}}</h3>
        {{favorites-list
          features=result
          compareBtnDisabled=compareBtnDisabled
          serviceLayer=serviceLayer
          leafletMap=leafletMap
          _showFavorites=_showFavorites
          showIntersectionPanel=(action 'onIntersectionPanel')
          compareTwoGeometries=(action 'OnCompareTwoGeometries')
          addToFavorite=(action "addToFavorite")
          addToCompareGeometries=(action 'addToCompareGeometries')
        }}
      </div>
      <div data-tab="createOrEditObject" class="ui tab createOrEditObject">
      <h3>{{t "forms.map.tabbar.createOrEditObject.caption"}}</h3>
        {{flexberry-edit-layer-feature
          isFavorite=createOrEditedFeature.isFavorite
          dataItems=createOrEditedFeature.dataItems
          layerModel=createOrEditedFeature.layerModel
          leafletMap=leafletMap
          serviceLayer=serviceLayer
          editFeatureEnd=(action 'onCreateOrEditFeatureEnd')
          rhumbMode=true
          drawMode=true
          geoproviderMode=true
        }}
      </div>
      <div data-tab="compare" class="ui tab compare">
      <h3>{{t "forms.map.tabbar.compare.caption"}}</h3>
        {{flexberry-maplayers
          class="styled"
          leafletMap=leafletMap
          sideBySide=sideBySide
          layers=(get-with-dynamic-actions this "model.hierarchy"
              hierarchyPropertyName="layers"
              pathKeyword="layerPath")
        }}
      </div>
    </div>
  </div>
  <div class={{concat "bottompanel-wrapper" (if (or (gt editedLayers.length 0) editedLayersPanelLoading) "" " hidden")}}>
    {{flexberry-layers-attributes-panel
      items=editedLayers
      serviceLayer=serviceLayer
      selectedTabIndex=editedLayersSelectedTabIndex
      folded=editedLayersPanelFolded
      settings=editedLayersPanelSettings
      loading=editedLayersPanelLoading
      leafletMap=leafletMap
      editFeature=(action 'onCreateOrEditFeature')
    }}
  </div>
  <div class="ui tab bottompanel-wrapper intersection-panel">
    {{flexberry-layers-intersections-panel
      layers=model.hierarchy
      leafletMap=leafletMap
      settings=editedLayersPanelSettings
      loading=editedLayersPanelLoading
      closeIntersectionPanel=(action "closeIntersectionPanel")
      feature=feature
      disaplayName=feature.properties.name
    }}
  </div>
  <div class="ui tab bottompanel-wrapper compare-geometries-panel">
    {{compare-object-geometries-panel
      layers=model.hierarchy
      leafletMap=leafletMap
      settings=editedLayersPanelSettings
      closeComparePanel=(action "onCompareTwoGeometriesEnd")
      twoObjects=twoObjectToCompare
    }}
  </div>
  <div class="row">
    <div class="sixteen wide column">
      {{#flexberry-maptoolbar}}
        {{map-commands/full-extent
          lat=model.lat
          lng=model.lng
          zoom=model.zoom
          leafletMap=leafletMap
        }}
        {{map-commands/edit
          mapModel=model
          leafletMap=leafletMap
        }}
        {{scale-control
          imperial=false
          leafletMap=leafletMap
        }}
        {{history-control leafletMap=leafletMap}}
        {{map-tools/drag leafletMap=leafletMap}}
        {{map-tools/zoom-in leafletMap=leafletMap}}
        {{map-tools/zoom-out leafletMap=leafletMap}}
        {{map-tools/identify
          layerMode=identifyToolLayerMode
          toolMode=identifyToolToolMode
          bufferActive=identifyToolBufferActive
          bufferUnits=identifyToolBufferUnits
          bufferRadius=identifyToolBufferRadius
          layers=model.hierarchy
          leafletMap=leafletMap
        }}
        {{map-tools/compare
          leafletMap=leafletMap
          showCompareSideBar=(action "showCompareSideBar")
        }}
        {{map-commands/go-to leafletMap=leafletMap}}
        {{map-commands/locate leafletMap=leafletMap}}
        {{map-commands/search
          leafletMap=leafletMap
          layers=model.hierarchy
        }}
        {{map-commands/export
          iconClass="external share icon"
          timeout=30000
          defaultMapCaption=model.name
          leafletMap=leafletMap
          layers=model.hierarchy
        }}
        {{#map-commands/base
          class="flexberry-more-map-command no-arrow"
          name="base"
          iconClass="more icon"
          leafletMap=leafletMap
        }}
          {{#block-slot "submenu"}}
            {{map-tools/measure leafletMap=leafletMap addHaArea=true}}
          {{#minimap-control
            minimized=true
            leafletMap=leafletMap as |groupLayers miniMap|
          }}
            {{flexberry-layers
              leafletContainer=groupLayers
              leafletMap=miniMap
              layers=model.hierarchy
              forMinimap=true
            }}
          {{/minimap-control}}
          {{/block-slot}}
        {{/map-commands/base}}

      {{/flexberry-maptoolbar}}
    </div>
  </div>
  {{#flexberry-maptoolbar class="background-layers"}}
    {{map-tools/background-layers layers=model.hierarchy leafletMap=leafletMap}}
  {{/flexberry-maptoolbar}}
  <div class="mappanel">
    <div class="pusher">
      {{#flexberry-map
        zoomSnap=1
        zoomDelta=1
        lat=model.lat
        lng=model.lng
        zoom=model.zoom
        zoomControl=true
        queryFilter=queryFilter
        mapObjectSetting=setting
        mainMap=true
        leafletInit=(action "onMapLeafletInit" "leafletMap")
        serviceLayerInit=(action "onServiceLayerInit" "serviceLayer")
        leafletDestroy=(action "onMapLeafletDestroy" "leafletMap")
        moveend=(action "onMapMoveend" "model.lat" "model.lng")
        zoomend=(action "onMapZoomend" "model.zoom")
        queryFinished=(action "onQueryFinished")
        onCreateObject=(action "onCreateObject")
      }}
        {{flexberry-layers
          leafletMap=leafletMap
          leafletContainer=leafletMap
          layers=(get-with-dynamic-actions this "model.hierarchy"
            hierarchyPropertyName="layers"
            pathKeyword="layerPath"
            dynamicActions=(array
              (hash
                on="layerInit"
                actionName="onLayerInit"
              )
            )
          )
        }}
        {{switch-scale-control
          leafletMap=leafletMap
          updateWhenIdle=true
          scales=switchScaleControlScales
        }}
      {{/flexberry-map}}
    </div>
  </div>
  {{flexberry-mapinfo
    mapId=model.id
    name=model.name
    description=model.description
  }}
</form>