<div class="ui grid">
  <div class="twelve wide column">
     {{flexberry-map
       lat=model.lat
       lng=model.lng
       zoom=model.zoom
       layers=model.layers
       zoomControl=true
       onMoveend=(action "updateCenter")}}
  </div>
  <div class="four wide column">
    {{layers-tree layers=model.layers}}<br>
    lat: {{flexberry-field value=model.lat}}
    lng: {{flexberry-field value=model.lng}}
    zoom: {{flexberry-field value=model.zoom}}
  </div>
</div>
