<h3 class="ui header">{{t 'forms.new-platform-flexberry-g-i-s-layer-metadata-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui positive button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui negative button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-layer-metadata-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.type
    class=(if model.errors.type 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-layer-metadata-e.type-caption')
  }}
  {{flexberry-validationmessage error=model.errors.type pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.coordinateReferenceSystem
    class=(if model.errors.coordinateReferenceSystem 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-layer-metadata-e.coordinateReferenceSystem-caption')
  }}
  {{flexberry-validationmessage error=model.errors.coordinateReferenceSystem pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.settings
    class=(if model.errors.settings 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-layer-metadata-e.settings-caption')
  }}
  {{flexberry-validationmessage error=model.errors.settings pointing="pointing"}}
</div>

</form>
