<h3 class="ui header">{{t 'forms.new-platform-flexberry-g-i-s-map-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui positive button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui negative button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-map-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.lat
    class=(if model.errors.lat 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-map-e.lat-caption')
  }}
  {{flexberry-validationmessage error=model.errors.lat pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.lng
    class=(if model.errors.lng 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-map-e.lng-caption')
  }}
  {{flexberry-validationmessage error=model.errors.lng pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.zoom
    class=(if model.errors.zoom 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-map-e.zoom-caption')
  }}
  {{flexberry-validationmessage error=model.errors.zoom pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-g-i-s-map-e.public-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.public
  }}
  {{flexberry-validationmessage error=model.errors.public pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.coordinateReferenceSystem
    class=(if model.errors.coordinateReferenceSystem 'error' '')
    label=(t 'forms.new-platform-flexberry-g-i-s-map-e.coordinateReferenceSystem-caption')
  }}
  {{flexberry-validationmessage error=model.errors.coordinateReferenceSystem pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-g-i-s-map-e.rootLayer-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.rootLayer
    
    relationName='rootLayer'
    projection=''
    title=(t 'forms.new-platform-flexberry-g-i-s-map-e.rootLayer-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.rootLayer pointing="pointing"}}
</div>

</form>
