      <div class="ui top attached fluid tabular menu">
        {{#if _displaySettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "display-tab") "active"}}" data-tab="display-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.display-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _identifySettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "identify-tab") "active"}}" data-tab="identify-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.identify-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _searchSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "search-tab") "active"}}" data-tab="search-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.search-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _legendSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "legend-tab") "active"}}" data-tab="legend-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.legend-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _filterSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "filter-tab") "active"}}" data-tab="filter-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.wfs-filter-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _styleSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "style-tab") "active"}}" data-tab="style-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.style-settings-tab.caption"}}
          </a>
        {{/if}}
        {{#if _labelsSettingsAreAvailableForType}}
          <a class="tab item {{if (eq _activeTab "label-tab") "active"}}" data-tab="label-tab" onclick={{action "onTabClick"}}>
            {{t "components.layers-dialogs.edit.tabular-menu.label-settings-tab.caption"}}
          </a>
        {{/if}}
      </div>
      {{#if _displaySettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "display-tab") "active"}}" data-tab="display-tab">
          {{layers-dialogs/tabs/display-settings
            value=_layer.settings.displaySettings
            layerType=_layer.type
            leafletObjectMethod=_layer.leafletObjectGetter
          }}
        </div>
      {{/if}}
      {{#if _identifySettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "identify-tab") "active"}}" data-tab="identify-tab">
          {{layers-dialogs/tabs/identification-settings value=_layer.settings.identifySettings}}
        </div>
      {{/if}}
      {{#if _searchSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "search-tab") "active"}}" data-tab="search-tab">
          {{layers-dialogs/tabs/search-settings
            value=_layer.settings.searchSettings
            layerType=_layer.type
            _leafletObjectMethod=_layer.leafletObjectGetter
          }}
        </div>
      {{/if}}
      {{#if _legendSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "legend-tab") "active"}}" data-tab="legend-tab">
          {{layers-dialogs/tabs/legend-settings
            value=_layer.settings.legendSettings
            type=_layer.type
            layer=_layer
            layerModel = layerModel
          }}
        </div>
      {{/if}}
      {{#if _filterSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "filter-tab") "active"}}" data-tab="filter-tab">
          {{flexberry-wfs-filter
            boundingBoxComponentMap=boundingBoxComponentMap
            filter=_layer.settings.filter
            geometryField=_layer.settings.geometryField
            _leafletObjectMethod=_layer.leafletObjectGetter
            _layerType=_layer.type
            featuresPropertiesSettings=_layer.settings.displaySettings.featuresPropertiesSettings
            _minLat=(unbound _layer.bboxCoords.minLat)
            _minLng=(unbound _layer.bboxCoords.minLng)
            _maxLat=(unbound _layer.bboxCoords.maxLat)
            _maxLng=(unbound _layer.bboxCoords.maxLng)
          }}
        </div>
      {{/if}}
      {{#if _styleSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "style-tab") "active"}}" data-tab="style-tab">
          {{layers-styles-editor
            styleSettings=_layer.settings.styleSettings
            displaySettings=_layer.settings.displaySettings
            layerType=_layer.type
            getLeafletLayer=_layer.leafletObjectGetter
            layerLoaderIsReady=(eq _activeTab "style-tab")
          }}
        </div>
      {{/if}}
      {{#if _labelsSettingsAreAvailableForType}}
        <div class="ui bottom attached tab segment {{if (eq _activeTab "label-tab") "active"}}" data-tab="label-tab">
          {{layers-dialogs/tabs/labels-settings
            value=_layer.settings.labelSettings
            layerType=_layer.type
            leafletObjectMethod=_layer.leafletObjectGetter
            leafletMap = leafletMap
            _leafletObject = _leafletObject
            settingsAsObject=_layer.settings
          }}
        </div>
      {{/if}}
