<div class="field">
  {{flexberry-checkbox
    value=_signMapObjects
    label=(t _signMapObjectsLabel)
    class=_signMapObjectsClass
    change=(action "signMapObjectsDidChange")
  }}
</div>
<div class="{{if _leafletObjectIsLoading "loading"}}">
      <div class="field">
        <label>
          {{t _fieldsCaption}}
        </label>
        <div class = "ui container scrollable content layers-fields-container">
          <div class="ui middle aligned selection list">
            {{#each-in _availableLayerProperties as |key value|}}
              <div class="item {{if (eq _selectedField key) "active"}}" {{action "fieldClick" key}} {{action "pasteFieldValue" key on="doubleClick"}}>
                <div class="content unselectable">
                  {{value}}
                </div>
              </div>
            {{else}}
              <div class="item">
                {{t _noFields}}
              </div>
            {{/each-in}}
          </div>
        </div>
      </div>
</div>
<div class="field">
  <label>{{t _label}}</label>
  {{textarea
    value=_labelSettingsString
    class="fluid edit-label-textarea"
  }}
</div>
<div class='row'>
  {{flexberry-button
    class=operatorButtonClass
    caption=(t "components.flexberry-wfs-filter.buttons.apply")
    click=(action "applyLabel")
  }}
  {{flexberry-button
    class=operatorButtonClass
    caption=(t "components.flexberry-wfs-filter.buttons.clear")
    click=(action "clearLabel")
  }}
</div>
<div class="field">
  <label>{{t _fontCaption}}</label>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        {{flexberry-dropdown
          class="fluid"
          items=_availableFontFamilies
          value=_options.captionFontFamily
        }}
      </div>
      <div class="two wide column">
        {{flexberry-dropdown
          class="fluid"
          items=_availableFontSizes
          value=_options.captionFontSize
        }}
      </div>
      <div class="three wide column">
        <div class="ui small fluid buttons">
          {{flexberry-button
            iconClass="bold icon"
            class=(if (eq _options.captionFontWeight "bold") "active" "")
            click=(action "onBoldFontButtonClick")
          }}
          {{flexberry-button
            iconClass="italic icon"
            class=(if (eq _options.captionFontStyle "italic") "active" "")
            click=(action "onItalicFontButtonClick")
          }}
          {{flexberry-button
            iconClass="underline icon"
            class=(if (eq _options.captionFontDecoration "underline") "active" "")
            click=(action "onUnderlineFontButtonClick")
          }}
        </div>
      </div>
      <div class="two wide column">
        {{flexberry-colorpicker
          value=_options.captionFontColor
          change=(action "onCaptionFontColorChange")
        }}
      </div>
      <div class="three wide column">
        <div class="ui small fluid buttons">
          {{flexberry-button
            iconClass="align left icon"
            class=(if (eq _options.captionFontAlign "left") "active" "")
            click=(action "onLeftFontButtonClick")
          }}
          {{flexberry-button
            iconClass="align center icon"
            class=(if (eq _options.captionFontAlign "center") "active" "")
            click=(action "onCenterFontButtonClick")
          }}
          {{flexberry-button
            iconClass="align right icon"
            class=(if (eq _options.captionFontAlign "right") "active" "")
            click=(action "onRightFontButtonClick")
          }}
        </div>
      </div>
    </div>
  </div>
</div>
{{#if (eq _layerType "point")}}
  <div class="field">
    <label>{{t _locationCaption}}</label>
    <div class="row ui small buttons">
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "1") "active" "")
        click=(action "onLocationPointButtonClick" "1")
      }}
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "2") "active" "")
        click=(action "onLocationPointButtonClick" "2")
      }}
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "3") "active" "")
        click=(action "onLocationPointButtonClick" "3")
      }}
    </div>
    <div class="row">
      <div class="ui small buttons">
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "4") "active" "")
        click=(action "onLocationPointButtonClick" "4")
      }}
      {{flexberry-button
        iconClass="circle icon"
        class=(if (eq _locationPoint "5") "active" "")
        click=(action "onLocationPointButtonClick" "5")
      }}
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "6") "active" "")
        click=(action "onLocationPointButtonClick" "6")
      }}
      </div>
    </div>
    <div class="row ui small buttons">
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "7") "active" "")
        click=(action "onLocationPointButtonClick" "7")
      }}
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "8") "active" "")
        click=(action "onLocationPointButtonClick" "8")
      }}
      {{flexberry-button
        iconClass="closed captioning icon"
        class=(if (eq _locationPoint "9") "active" "")
        click=(action "onLocationPointButtonClick" "9")
      }}
    </div>
  </div>
{{/if}}
{{#if  (eq _layerType "line")}}
  <div class="field">
    <label>{{t _locationCaption}}</label>
    {{flexberry-dropdown
      items=_availableLineLocation
      value=_lineLocationSelect
    }}
  </div>
{{/if}}
<div class="field">
  <label>{{t _scaleRangeCaption}}</label>
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column">
        <label>Min</label>
        {{flexberry-textbox
          class="fluid"
          value=_minScaleRange
        }}
      </div>
      <div class="eight wide column">
        <label>Max</label>
        {{flexberry-textbox
          class="fluid"
          value=_maxScaleRange
        }}
      </div>
    </div>
  </div>
</div>


