<div class="ui pointing secondary menu">
  <a class="item {{if (eq _activeTab "path-tab") "active"}}" data-tab="path-tab" onclick={{action "onTabClick"}}>
    {{t "components.layers-styles.simple.path-tab.caption"}}
  </a>
  <a class="item {{if (eq _activeTab "marker-tab") "active"}}" data-tab="marker-tab" onclick={{action "onTabClick"}}>
    {{t "components.layers-styles.simple.marker-tab.caption"}}
  </a>
</div>
<div class="ui tab segment {{if (eq _activeTab "path-tab") "active"}}" data-tab="path-tab">
  <div class="ui centered grid style-settings-with-preview">
    <div class="twelve wide column">
      {{layers-styles/simple/path-editor
        styleSettings=styleSettings.style.path
        change=(action "onPathStyleSettingsChange")
      }}
    </div>
    <div class="four wide center aligned column">
      <canvas class="sticky"></canvas>
    </div>
  </div>
</div>
<div class="ui tab segment {{if (eq _activeTab "marker-tab") "active"}}" data-tab="marker-tab">
  <div class="ui centered grid style-settings-with-preview">
    <div class="twelve wide column">
      {{markers-styles-editor
        styleSettings=styleSettings.style.marker
        change=(action "onMarkerStyleSettingsChange")
      }}
    </div>
    <div class="four wide center aligned column">
      <canvas></canvas>
    </div>
  </div>
</div>
