<h3 class="ui header">
  {{t "forms.gis-search-form.header"}}
</h3>
<form class="ui form flexberry-vertical-form gis-search-form" role="form">
  {{flexberry-error error=error}}
  <div class="ui fluid action input">
    {{input
      type="text"
      value=searchConditions.anyText
      placeholder=(t "components.flexberry-search.placeholder")
      enter=(action "getSearchResults")
    }}
    <button class="ui icon button search-button" {{action "getSearchResults" on="click"}}>
      <i class="search icon"></i>
    </button>
    <button class="ui icon button clear-search-button" {{action "onAnyTextClearButtonClick" on="click"}}>
      <i class="remove icon"></i>
    </button>
  </div>
  <div class="ui segments">
    <div class="ui segment accordion advanced-search">
      <div class="ui top attached label title">
        <i class="dropdown icon"></i>
        {{t "forms.gis-search-form.advanced-search-conditions"}}
      </div>
      <div class="ui horizontal segments content">
        <div class="ui segment advanced-search-what-segment">
          <div class="ui top attached label">
            {{t "forms.gis-search-form.search-conditions-what"}}
          </div>
          <div class="field">
            <label>
              {{t "forms.gis-search-form.keywords"}}
            </label>
            {{flexberry-textbox value=searchConditions.keyWords}}
          </div>
          <div class="scale-header">
            <label>{{t "forms.gis-search-form.scale"}}</label>
            <button class="ui button icon mini compact" onclick={{action "addScaleFilterCondition"}}>
              <i class="plus icon"></i>
            </button>
          </div>
          <div class="scale-filters">
            {{#each searchConditions.scaleFilters as |filter index|}}
              <div class="scale-filter">
              {{#ui-dropdown class="compact selection" onChange=(action "onScaleConditionChange" index)}}
                <i class="dropdown icon"></i>
                <div class="text">
                  {{filter.condition}}
                </div>
                <div class="menu">
                  {{#each-in scaleFilterConditions as |key value|}}
                    <div class="item" data-value="{{value}}">{{value}}</div>
                  {{/each-in}}
                </div>
              {{/ui-dropdown}}
              {{t "forms.gis-search-form.scale-prefix"}}
              {{flexberry-dropdown-input
                items=scales
                value=filter.scale
                class="scale-value fluid"
                onKeyDown=(action "scaleFilterKeyDown")
                direction="downward"
                inputPlaceholder=(t "forms.gis-search-form.scale-dropdown-input-placeholder")
                inputTitle=(t "forms.gis-search-form.scale-dropdown-input-title")
              }}
              {{flexberry-button iconClass="remove icon" click=(action "deleteScaleFilterCondition" index)}}
              </div>
            {{else}}
              <label>{{t "forms.gis-search-form.scale-no-conditions"}}</label>
            {{/each}}
          </div>
        </div>
        <div class="ui segment advanced-search-where-segment">
          <div class="ui top attached label">
            {{t "forms.gis-search-form.search-conditions-where"}}
          </div>
          {{flexberry-boundingbox
            mapModel=model.boundingBoxComponentMap
            minLat=searchConditions.minLat
            minLng=searchConditions.minLng
            maxLat=searchConditions.maxLat
            maxLng=searchConditions.maxLng
            boundingBoxChange=(action "onBoundingBoxChange")
          }}
        </div>
      </div>
    </div>
    <div class="ui segment search-results">
      <div class="ui top attached label">
        <i class="dropdown icon"></i>
        {{t "forms.gis-search-form.search-results"}}
      </div>
      <div class="ui {{if isLoading "active" "disabled"}} inverted dimmer">
        <div class="ui loader"></div>
      </div>
      <div class="ui top attached fluid tabular menu">
        <a
          class="tab item active"
          data-tab={{tabSettings.0.tab}}
          title={{t tabSettings.0.title}}>
          {{t tabSettings.0.title}}
        </a>
        <a
          class="tab item"
          data-tab={{tabSettings.1.tab}}
          title={{t tabSettings.1.title}}>
          {{t tabSettings.1.title}}
        </a>
      </div>
      <div
        class="ui bottom attached tab segment active search-result-tab-panel"
        data-tab={{tabSettings.0.tab}}>
        {{#flexberry-table
          model=(get this tabSettings.0.fieldName)
          getData=(action "getData" tabSettings.0.fieldName)
          modelName=tabSettings.0.modelName
          projectionName=tabSettings.0.projectionName
          header=(header-from-projection modelName=tabSettings.0.modelName projectionName=tabSettings.0.projectionName)
        }}
          {{#block-slot "column-header-tail-0"}}
            <th>{{t "forms.gis-search-form.maps.actions.open"}}</th>
          {{/block-slot}}
          {{#block-slot "column-cell-tail-0" as |row|}}
            <td class="collapsing">
              {{#link-to mapRouteName row.id title=(t "forms.gis-search-form.ctrl-message")}}
                <i class="external share icon"></i>
              {{/link-to}}
            </td>
          {{/block-slot}}
        {{/flexberry-table}}
      </div>
      <div
        class="ui bottom attached tab segment search-result-tab-panel"
        data-tab={{tabSettings.1.tab}}>
        {{#flexberry-table
          model=(get this tabSettings.1.fieldName)
          getData=(action "getData" tabSettings.1.fieldName)
          modelName=tabSettings.1.modelName
          projectionName=tabSettings.1.projectionName
          header=(header-from-projection modelName=tabSettings.1.modelName projectionName=tabSettings.1.projectionName)
        }}
          {{#block-slot "head-block"}}
            <div class="search-result-top-panel">
              <div class="search-result-top-panel-item">
                <span>{{t "forms.gis-search-form.layer-metadata.selected-message"}} {{_selectedRowsCount}}
                (<a {{action "_clearSelectedRows"}} class="search-result-top-panel-clear">
                  {{t "forms.gis-search-form.layer-metadata.reset"}}
                  </a>).
                </span>
                <span>
                {{t "forms.gis-search-form.layer-metadata.open-into-map"}}
                </span>
              </div>
              <div class="search-result-top-panel-item">
                <select class="ui dropdown mapItems" onchange={{action (mut _selectedMap) value="target.value"}}>
                  <option selected value="">{{t "forms.gis-search-form.layer-metadata.select-a-map"}}</option>
                  <option value="new">{{t "forms.gis-search-form.layer-metadata.new-map"}}</option>
                  {{#each model.availableMaps as |mapItem|}}
                    <option value="{{get mapItem "id"}}" selected={{eq (get mapItem "id") _selectedMap}}>{{get mapItem "name"}}</option>
                  {{/each}}
                </select>
              </div>
              {{#if _canOpenMapWithMetadata}}
                {{#if (eq _selectedMap 'new')}}
                  {{#link-to
                    newMapWithMetadataRouteName (query-params metadata=_metadataIds)
                    class="ui positive button" title=(t "forms.gis-search-form.ctrl-message")}}
                    {{t "forms.gis-search-form.layer-metadata.ok"}}
                  {{/link-to}}
                {{else}}
                  {{#link-to
                    mapWithMetadataRouteName _selectedMap (query-params metadata=_metadataIds)
                    class="ui positive button" title=(t "forms.gis-search-form.ctrl-message")}}
                    {{t "forms.gis-search-form.layer-metadata.ok"}}
                  {{/link-to}}
                {{/if}}
              {{/if}}
            </div>
          {{/block-slot}}
          {{#block-slot "column-header-head-0"}}
            <th>
              {{t "forms.gis-search-form.layer-metadata.actions.select"}}
            </th>
          {{/block-slot}}
          {{#block-slot "column-cell-head-0" as |row|}}
            <td class="collapsing">
              {{flexberry-checkbox
                value=(get _selectedRows row.id)
                onChange=(action "onRowSelect" row.id)
              }}
            </td>
          {{/block-slot}}
        {{/flexberry-table}}
      </div>
    </div>
  </div>
</form>
