{{ui-message
  type="error"
  closeable=false
  visible=showFormErrorMessage
  caption=error.name
  message=error.message
}}
<div class="ui attached message">
  <div class="header">
    {{t "gis-search-form.header"}}
  </div>
  <p>{{t "gis-search-form.subheader"}}</p>
</div>
<div class="ui form attached fluid segment">
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column">
        <div class="ui container segment">
          <div class="ui top attached label">
            {{t "gis-search-form.object"}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.keywords"}}</label>
            {{flexberry-textbox value=searchConditions.keyWords}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.scale"}}</label>
            {{flexberry-textbox value=searchConditions.scaleFrom}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui container segment">
          <div class="ui top attached label">
            {{t "gis-search-form.position"}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.min-long"}}</label>
            {{flexberry-textbox value=searchConditions.minLng}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.min-lat"}}</label>
            {{flexberry-textbox value=searchConditions.minLat}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.max-long"}}</label>
            {{flexberry-textbox value=searchConditions.maxLng}}
          </div>
          <div class="field">
            <label>{{t "gis-search-form.max-lat"}}</label>
            {{flexberry-textbox value=searchConditions.maxLat}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="seven wide column"></div>
      <div class="two wide column">
        <button class="ui labeled icon blue button" {{action "getSearchResults" on="click"}}>
          <i class="search icon"></i>
          {{t "gis-search-form.search"}}
        </button>
      </div>
      <div class="seven wide column"></div>
    </div>
    <div class="row">
      <div class="ui top attached label">{{t "gis-search-form.results"}}</div>
      <div class="sixteen wide column">
        <div class="ui {{if isLoading "active" "disabled"}} inverted dimmer">
          <div class="ui loader"></div>
        </div>
        <div class="ui top attached fluid tabular menu">
          <a
            class="tab item active"
            data-tab="layer-metadata"
            title={{t "gis-search-form.layer-metadata.title"}}>
            {{t "gis-search-form.layer-metadata.title"}}
          </a>
          <a
            class="tab item"
            data-tab="maps"
            title={{t "gis-search-form.maps.title"}}>
            {{t "gis-search-form.maps.title"}}
          </a>
        </div>
          <div
            class="ui bottom attached tab segment active"
            data-tab="layer-metadata">
              {{flexberry-table
                model=layerMetadata
                getData=(action "getData" "layerMetadata")
                modelName="new-platform-flexberry-g-i-s-layer-metadata"
                projectionName="LayerMetadataL"
                header=(header-from-projection modelName="new-platform-flexberry-g-i-s-layer-metadata" projectionName="LayerMetadataL")
              }}
          </div>
          <div
            class="ui bottom attached tab segment"
            data-tab="maps">
              {{#flexberry-table
                model=maps
                getData=(action "getData" "maps")
                modelName="new-platform-flexberry-g-i-s-map"
                projectionName="MapL"
                header=(header-from-projection modelName="new-platform-flexberry-g-i-s-map" projectionName="MapL")
              }}
                {{#block-slot "column-header-0"}}
                  <th>{{t "gis-search-form.maps.actions.open"}}</th>
                {{/block-slot}}
                {{#block-slot "column-cell-0" as |row|}}
                  <td class="collapsing">
                    <a {{action "goToMap" row allowedKeys="ctrl"}} style="cursor:pointer;">
                      <i class="external share icon"></i>
                    </a>
                  </td>
                {{/block-slot}}
              {{/flexberry-table}}
          </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
