<h3 class="ui header">{{t "forms.new-platform-flexberry-g-i-s-layer-metadata-e.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}--></button>
    </div>
  </div>
  {{flexberry-edit-layermap
    layer=(hash
      type=model.type
      name=model.name
      scale=model.scale
      description=model.description
      keyWords=model.keyWords
      coordinateReferenceSystem=model.coordinateReferenceSystem
      settings=model.settings
      boundingBox=model.boundingBox
    )
    leafletMap=leafletMap
    _typeIsReadonly=(not model.isNew)
    links=(get this linksPropertyPath)
    linksPropertyPath=linksPropertyPath
    linksModelName=linksModelName
    parametersModelName=linksParametersModelName
    parametersModelProjection=linksParametersModelProjection
    onInit=(action "initLayerProperties")
    addLayerLink=(action "addLayerLink")
    removeLayerLink=(action "removeLayerLink")
    allowShowLayerLinkCheckboxChange=(action "onLayerLinkChangeVisibility")
  }}
</form>