<div class="field {{if model.errors.url "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.url"}}</label>
  {{flexberry-textbox
    value=model.url
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.url pointing="pointing"}}
</div>
<div class="field {{if model.errors.layers "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.layers"}}</label>
  {{flexberry-textbox
    value=model.layers
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.layers pointing="pointing"}}
</div>
<div class="field {{if model.errors.styles "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.styles"}}</label>
  {{flexberry-textbox
    value=model.styles
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.styles pointing="pointing"}}
</div>
<div class="field {{if model.errors.format "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.format"}}</label>
  {{flexberry-textbox
    value=model.format
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.format pointing="pointing"}}
</div>
<div class="field {{if model.errors.transparent "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.transparent"}}</label>
  {{flexberry-checkbox
    value=model.transparent
  }}
  {{flexberry-validationmessage error=model.errors.transparent pointing="left pointing"}}
</div>
<div class="field {{if model.errors.version "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.version"}}</label>
  {{flexberry-textbox
    value=model.version
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.version pointing="pointing"}}
</div>
<div class="field {{if model.errors.crs "error" ""}}">
  <label>{{t "forms.new-platform-flexberry-g-i-s-map-layer-wms.crs"}}</label>
  {{flexberry-textbox
    value=model.crs
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.crs pointing="pointing"}}
</div>
